/* No longer uses Bootstrap here */

footer {
    margin: 50px 0;
}

figcaption {
	font-size: 0.714em;
}

.example {
/*  Code for Rounded Corners */
/*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding: 15px;
*/

}

.example::before {
	font-weight: bold;
	content: "Example: ";
	text-transform: uppercase;
	display: block;
}


.rules {
/*  Code for Rounded Corners */
/*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding: 15px;
*/

}

.rules::before {
	font-weight: bold;
	content: "Rules: ";
	text-transform: uppercase;
	display: block;
}


.lead > .p-author > .u-photo {
	height: .75em;
	border-radius: 50% 50% 50% 50%;
}

.lead > .p-author > .u-photo:hover {
	text-decoration: none;
}


.hidden {
	display: none;
	visibility: hidden;
}

.folklore {
	font-family: 'Fondamento', serif;
	background-color: #e1cfb6;
	margin: auto;
	padding: 2rem 3rem 1rem 3rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
}

.folklore p:first-of-type::first-letter {
	font-family: 'Lovers Quarrel', cursive;
	float: left;
	font-size: 5rem;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.2em 0;
	color: #8b0000;
}

.folklore h1 {
	font-family: 'UnifrakturMaguntia', serif;
	color: #8b0000;
	font-size: 3.5rem;
	margin: auto;
	text-align: center;
	font-weight: normal;
}

.folklore h2 {
	font-family: 'IM Fell English', serif;
	font-weight: normal;
	color: #8b0000;
	font-size: 3rem;
	border-bottom: 3px solid #8b0000;
	margin-bottom: 0px;
}

.folklore h3 {
	font-family: 'IM Fell English', serif;
	font-weight: normal;
	font-size: 2.5rem;
	color: #8b0000;
	margin-bottom: 10px;
}

.folklore h4 {
	font-family: 'IM Fell English', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 2rem;
	color: #8b0000;
}

.folklore h5 {
	font-family: 'IM Fell English', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	color: #8b0000;
}

.folklore h6 {
	font-family: 'IM Fell English', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.35rem;
	color: #8b0000;
}

.folklore sup a {
	color: #8b0000;
	text-decoration: none;
}

.folklore b, .notes th {
	color: #8b0000;
}

.folklore table {
  border: 3px solid #8b0000;
  border-collapse: collapse;
}

.folklore th, .notes td {
	border: 0.5px solid #8b0000;
	padding: 5px;
}

.folklore sup {
	font-family: 'coelnische_current_fraktur', serif;
	color: #8b0000;
}

.folklore p {
	color: #3B4248;
}



.reference {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	background-color: #F3E3C5;
	margin: auto;
	padding: 2rem 3rem 1rem 3rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
	position: relative
}

.reference,
.reference::before,
.reference::after {
	/* Styles to distinguish sheets from one another */
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #E8D8BD;
}
   
.reference::before,
.reference::after {
	content: "";
	position: absolute;
	height: 95%;
	width: 99%;
	background-color: #DECFB7;
}
   
.reference::before {
	right: 15px;
	top: 0;
	transform: rotate(-1deg);
	z-index: -1;
}
   
.reference::after {
	top: 5px;
	right: -5px;
	transform: rotate(1deg);
	z-index: -2;
}

.reference h1 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	color: #8b0000;
	font-size: 3.5rem;
	margin: auto;
	text-align: center;
	font-weight: normal;
}

.reference h2 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	color: #8b0000;
	font-size: 3rem;
	border-bottom: 3px solid #8b0000;
	margin-bottom: 0px;
}

.reference h3 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-size: 2.5rem;
	color: #8b0000;
	margin-bottom: 10px;
}

.reference h4 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 2rem;
	color: #8b0000;
}

.reference h5 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	color: #8b0000;
}

.reference h6 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 1.35rem;
	color: #8b0000;
}


.reference sup a {
	color: #8b0000;
	text-decoration: none;
}

.reference b, .notes th {
	color: #8b0000;
}

.reference .notes table {
  border: 3px solid #8b0000;
  border-collapse: collapse;

}

.reference th, .notes td {
	border: 0.5px solid #8b0000;
	padding: 5px;
}

.reference sup {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	color: #8b0000;
}

.reference p {
	color: #3B4248;

}

.notes {
	font-family: 'lp1_regular', serif;
	background-color: #fbf9f6;
	color:#212529;
	margin: auto;
	padding: 2rem 3rem 1rem 3rem;
	line-height: 2.5rem;
	font-size: 2rem;
}

.notes p:first-letter {
	font-family: 'TerraIgnota', serif;
	float: left;
	font-size: 5rem;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.2em 0;
	color: #8b0000;
   }

.notes h1 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	margin: auto;
	padding: 2rem 3rem 1rem 3rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
	position: relative;
	font-weight: normal;
	color: #8b0000;
}

.notes h2 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-size: 3rem;
	text-decoration: solid;
	margin-bottom: 0px;
	color: #8b0000;
}

.notes h3 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: #8b0000;
}

.notes h4 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 2rem;
	color: #8b0000;
}

.notes h5 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	color: #8b0000;
}

.notes h6 {
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 1.35rem;
	color: #8b0000;
}

.notes sup a {
	color: #8b0000;
	text-decoration: none;
}

.notes b, .notes th {
	color: #8b0000;
	font-weight: bold;
}

.notes table {
  border: 3px solid #8b0000;
  border-collapse: collapse;

}

.notes th, .notes td {
	border: 0.5px solid #8b0000;
	padding: 5px;
}

.notes sup {
	font-family: 'AntiquarianScribe', serif;
	color: #8b0000;
}

.notes p {
	color: #212529

}

.asidenote {
	left: 100px;
	position: relative;
	color: #3B4248;
	font-family: 'DanaLibraryHand-Regular', 'Architects Daughter', cursive;
}

#parchment {
	position: absolute;
	display: flex;
	   width: 75%;
	/* center page with absolute position */
	top: 0%; left: 50%; transform: translate(-50%, 0);
	margin: 2em 0;
	   padding: 4em;
	   box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	   background: #fffef0;
	/* v2.1 : borders effect with SVG : try to play with scale to change them */
	filter: url(#wavy2);
	/* v2.2 : Noise added for a vellum paper effect */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}





