@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Cedarville+Cursive&family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Fondamento:ital@0;1&family=Fredericka+the+Great&family=IM+Fell+DW+Pica:ital@0;1&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lovers+Quarrel&family=Marcellus&family=Orbitron:wght@400;500;600;700;800;900&family=UnifrakturMaguntia&display=swap');



@font-face {
    font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum.otf')  format('opentype')
	     url('https://tedt.org/fonts/QTOptimum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	text-rendering: optimizeLegibility;

}
@font-face {
    font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum-Bold.otf')  format('opentype')
	     url('https://tedt.org/fonts/QTOptimum-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
	text-rendering: optimizeLegibility;

}
@font-face {
    font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum-Italic.otf')   format('opentype'),
	     url('https://tedt.org/fonts/QTOptimum-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
	text-rendering: optimizeLegibility;

}
@font-face {
    font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum-BoldItalic.otf')   format('opentype'),
	     url('https://tedt.org/fonts/QTOptimum-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
	text-rendering: optimizeLegibility;

}
@font-face {
	font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum.otf')   format('opentype'),
	     url('https://tedt.org/fonts/QTOptimum.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;

 }
 @font-face {
	font-family: 'Optimum';
    src: url('https://tedt.org/fonts/QTOptimum.otf')   format('opentype'),
	     url('https://tedt.org/fonts/QTOptimum.woff2') format('woff2');
	font-weight: 400;
	font-style: Italic;
	text-rendering: optimizeLegibility;

 }

@font-face {
    font-family: 'Checkbook';
    src: url('https://tedt.org/fonts/CHECKBK0.otf')   format('opentype'),
         url('https://tedt.org/fonts/CHECKBK0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	text-rendering: optimizeLegibility;

}
@font-face {
    font-family: 'DanaLibraryHand-Regular';
    src: url('https://tedt.org/fonts/DanaLibraryHand-Regular.otf')  format('opentype')
	     url('https://tedt.org/fonts/DanaLibraryHand-Regular.woff2') format('woff2');
    /* Library card hand  */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-variant-numeric: oldstyle-nums ordinal;
    font-feature-settings: "ss01" 1;
	text-rendering: optimizeLegibility;

}
             

@font-face {
    font-family: 'Duvall';
    src: url('https://tedt.org/fonts/DuvallSmallCaps.woff2') format('woff2'),
         url('https://tedt.org/fonts/DuvallSmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Fondamento';
    src: url('https://tedt.org/fonts/Fondamento-Regular.otf') format('opentype'),
		 url('https://tedt.org/fonts/Fondamento-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fondamento';
    src: url('https://tedt.org/fonts/Fondamento-Italic.otf') format('opentype'),
		 url('https://tedt.org/fonts/Fondamento-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: Italic;
	text-rendering: optimizeLegibility;

}

@font-face {
    font-family: 'GameEmpire';
    src: url('https://tedt.org/fonts/Algerian-Basic-D-OT_3025.woff2') format('woff2'),
         url('https://tedt.org/fonts/Algerian-Basic-D-OT_3025.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	text-rendering: optimizeLegibility;

}

@font-face {
    font-family: 'IrwinAllen';
    src: url('https://tedt.org/fonts/IrwinAllen.otf') format('opentype'),
         url('https://tedt.org/fonts/IrwinAllen.woff2') format('woff2'),
         url('https://tedt.org/fonts/IrwinAllen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	text-rendering: optimizeLegibility;

}

@font-face {
    font-family: 'lp1_regular';
    src: url('https://tedt.org/fonts/lp1-regular-webfont.woff') format('woff'),
         url('https://tedt.org/fonts/lp1-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	text-rendering: optimizeLegibility;

}

@font-face {
    font-family: 'lowwe';
    src: url('https://tedt.org/fonts/lowwe.otf') format('opentype'),
	     url('https://tedt.org/fonts/lowwe.woff2') format('woff2'),
         url('https://tedt.org/fonts/lowwe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	text-rendering: optimizeLegibility;

}

@font-face {
	font-family: 'UngerFrakturZierbuchstaben';
	src: url('https://tedt.org/fonts/UngerFrakturZierbuchstaben.otf') format('opentype'),
	     url('https://tedt.org/fonts/UngerFrakturZierbuchstaben.woff2') format('woff2'),
	     url('https://tedt.org/fonts/UngerFrakturZierbuchstaben.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	/* ONLY GOOD FOR FIRST LETTER ILLUMINATED GERMAN FONT */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'CedarvilleCursive';
	src: url('https://tedt.org/fonts/CedarvilleCursive-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }

@font-face {
	font-family: 'coelnische_current_fraktur';
	src: url('https://tedt.org/fonts/COELCF__.TTF') format('truetype');
	/* FANCY CAPITAL LETTERS AND GOOD TITLE FONT FOR LOWER CASE */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }
 @font-face {
	font-family: 'strassburgfraktur';
	src: url('https://tedt.org/fonts/strassburgfraktur.ttf') format('truetype');
	/* SUPER FANCY CAPITAL LETTERS AND OK NORMAL FONT FOR LOWERCASE */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

 @font-face {
	font-family: 'SkennertonFraktur';
	src: url('https://tedt.org/fonts/SkennertonFraktur.ttf') format('truetype');
	/* SUPER normal german font errored  */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Hillal';
	src: url('https://tedt.org/fonts/Hillal.otf') format('opentype');
	/* Normal hand written font */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'AntiquarianScribe';
	src: url('https://tedt.org/fonts/AntiquarianScribe.woff') format('woff'), /* Modern Browsers */
		 url('https://tedt.org/fonts/AntiquarianScribe.ttf') format('truetype'); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
/* Webfont: AntiquarianScribe */
}

@font-face {
	font-family: 'TerraIgnota';
	src:  url('https://tedt.org/fonts/TerraIgnota.woff') format('woff'), /* Modern Browsers */
		 url('https://tedt.org/fonts/TerraIgnota.ttf') format('truetype'); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	/* Webfont: TerraIgnota */
}

  

 
@font-face {
	font-family: 'Quentin';
	src: url('https://tedt.org/fonts/QUENCRG_.TTF') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }

 @font-face {
	font-family: 'Souvenir Demi';
	src: url('https://tedt.org/fonts/Souvenir Demi.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }

 @font-face {
	font-family: 'Egyptienne MN Condensed Bold';
	src: url('https://tedt.org/fonts/Egyptienne MN Condensed Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }
 @font-face {
	font-family: 'Ringbearer';
	src: url('https://tedt.org/fonts/RINGM___.otf') format('opentype'),
	     url('https://tedt.org/fonts/RINGM___.TTF') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }

 @font-face {
	font-family: 'IM Fell English';
	src: url('https://tedt.org/fonts/FeENrm2.otf') format('opentype'),
	     url('https://tedt.org/fonts/FeENrm2.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }
 @font-face {
	font-family: 'IM Fell English';
	src: url('https://tedt.org/fonts/FeENsc2.otf') format('opentype'),
	     url('https://tedt.org/fonts/FeENsc2.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
 }
 @font-face {
	font-family: 'IM Fell English';
	src: url('https://tedt.org/fonts/FeENit2.otf') format('opentype'),
	     url('https://tedt.org/fonts/FeENit2.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
 }

