    body {
        background-color: black;
        color: #000;
    }

    a {
        color: #000055;
    }




    .tech-v h1 {
        font-family: 'IrwinAllen';
        line-height: 1.2;
    }

    .tech-v h2 {
        font-family: 'IrwinAllen';
    }

    .tech-v h3 {
        font-family: 'lowwe';
    }


    .tech-v p b {
        font-family: 'Checkbook';
        color: inherit;
        font-size: 1.5em;
        font-weight: normal;
    }

    .tech-v p.description {
        color: inherit;
    }

    .tech-v p.background {
        color: inherit;
    }

    .tech-v p.rules {
        color: inherit;
        font-style: italic;
    }

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://tedt.org/RPG/MCC-GW/media/paper-margin-dark.webp);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 1em;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        background-color: white;
        padding: 57px 18px 1px 18px;
        background-image: url(https://tedt.org/RPG/MCC-GW/media/paper-dark.webp);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 4px rgba(115, 115, 121, 0.3);
    }

#gw--gradient {
    position: fixed;
    width: 100vw;
    background: #061c17;
    background: radial-gradient(#163c33,#061c17);
    z-index: 0
}

#gw--scanLines {
    position: fixed;
    z-index: 2;
    width: 100vw;
    pointer-events: none
}

#gw--scanLines:after,#gw--scanLines:before {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute
}

#gw--scanLines:after {
    z-index: 2147483648;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    -webkit-background-size: 100% 6px;
    background-image: -moz-repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    -moz-background-size: 100% 6px;
    background-image: repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    background-size: 100% 6px
}

#gw--gradient,#gw--scanLines {
    height: 100vh
}

@media (max-device-aspect-ratio: 3 / 4) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 1.45297)
    }
}

@media (max-device-aspect-ratio: 2 / 3) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 1.635)
    }
}

@media (max-device-aspect-ratio: 10 / 16) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 2.244)
    }
}

@media (max-device-aspect-ratio: 9 / 16) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 2.23802)
    }
}




    .LineType {
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
    }

    pre#ascii-container-image { font: bold 8px/5px monospace; color: #000; clear: left; }
