.DCC {
	font-family: "Duvall", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: -2px -2px 0px #eae221, 
				2px  2px 0px #eae221, 
				2px -2px 0px #eae221, 
				-2px  2px 0px #eae221, 
				0px  2px 0px #eae221, 
				0px -2px 0px #eae221, 
				2px  0px 0px #eae221, 
				-2px  0px 0px #eae221;
				
	color: #ff001b;
}
a:hover .DCC {
    font-family: "Duvall", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:-2px -2px 0px #eae221, 
            2px  2px 0px #eae221, 
            2px -2px 0px #eae221, 
            -2px  2px 0px #eae221, 
            0px  2px 0px #eae221, 
            0px -2px 0px #eae221, 
            2px  0px 0px #eae221, 
            -2px  0px 0px #eae221, 
                
            -3px -3px 0px #ff001b, 
            3px  3px 0px #ff001b,
            3px -3px 0px #ff001b, 
            -3px  3px 0px #ff001b, 
            0px  3px 0px #ff001b, 
            0px -3px 0px #ff001b, 
            3px  0px 0px #ff001b, 
            -3px  0px 0px #ff001b;
        color: #ff001b;
 }

.MCC {
	font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: -2px -2px 0px #ffe205, 
				2px  2px 0px #ffe205, 
				2px -2px 0px #ffe205, 
				-2px  2px 0px #ffe205, 
				0px  2px 0px #ffe205, 
				0px -2px 0px #ffe205, 
				2px  0px 0px #ffe205, 
				-2px  0px 0px #ffe205; 
	color: #018249;
}
a:hover .MCC {
    font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:  -2px -2px 0px #ffe205, 
                2px  2px 0px #ffe205, 
                2px -2px 0px #ffe205, 
               -2px  2px 0px #ffe205, 
                0px  2px 0px #ffe205, 
                0px -2px 0px #ffe205, 
                2px  0px 0px #ffe205, 
               -2px  0px 0px #ffe205, 
                 
              -3px -3px 0px #018249, 
               3px  3px 0px #018249,
               3px -3px 0px #018249, 
              -3px  3px 0px #018249, 
               0px  3px 0px #018249, 
               0px -3px 0px #018249, 
               3px  0px 0px #018249, 
              -3px  0px 0px #018249;
         color: #018249;
 }


 .GammaWorld {
	font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #DC143C; 
	/* color: Crimson */
 }
 a:hover .GammaWorld {
	font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-shadow: -3px -3px 0px #ff001b, 
				  3px  3px 0px #ff001b,
				  3px -3px 0px #ff001b, 
				 -3px  3px 0px #ff001b, 
				  0px  3px 0px #ff001b, 
				  0px -3px 0px #ff001b, 
				  3px  0px 0px #ff001b, 
				 -3px  0px 0px #ff001b;
	color: #212529; 
}
.DnD {
	font-family: "Quentin", "Souvenir Demi",serif;
}
.GURPS {
	font-family: "Egyptienne MN Condensed Bold",serif;
    text-transform: uppercase;
}
.LotR {
	font-family: "Ringbearer",serif;
}
.marchen {
    font-family: "IM Fell English",serif;
    font-style: italic;
}

.Dohring-watermark, .TORC-watermark, .SCE-watermark {
    position: relative;
    z-index: 1;
  }

.Dohring-watermark::before, .TORC-watermark::before, .SCE-watermark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
}

.Dohring-watermark::before {
    background: url(/img/home/logo-Dohring.png) no-repeat center center;
    background-size: 50% ; /* or contain */
}

.TORC-watermark::before {
    background: url(/img/home/logo-TORC.png) no-repeat center center;
    background-size: contain ; /* or contain */
}

.SCE-watermark::before {
    background: url( /img/home/logo-SCE.png) no-repeat center center;
    background-size: 50% ; /* or contain */
}

.Tschopp-watermark::before {
    background: url( /img/TT.svg) no-repeat center center;
    background-size: 50% ; /* or contain */
}