.Movies-Post {
    font-family: "Limelight", "Times New Roman", Times, serif;
}

.Bestiary-Post {
    font-family: "Bestiary" sans-serif;
}
.Monster-Post {
    font-family: "Bestiary" sans-serif;
}

.Draft-Post {
    font-family: "Fredericka the Great",serif;
    font-style: normal;
}

.Computer-Post {
    font-family: "Checkbook", monospace;
    font-style: normal;
}

.Personal-Writing-Post {
    font-family: "Cedarville Cursive", "Chalkduster", "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5rem;
}

.Book-Post {
    font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
    font-style: normal;
}

.RPGS {
    font-family: "IM Fell DW Pica", "Times New Roman", Times, serif;
    font-style: italic;
}

.Reprint-Post {
    font-family: "lp1_regular",monospace;
    font-style: normal;
}

.DnD {
	font-family: "Quentin", "Souvenir Demi",serif;
}
.GURPS {
	font-family: "Egyptienne MN Condensed Bold",serif;
    text-transform: uppercase;
}
.LotR {
	font-family: "Ringbearer",serif;
}
.marchen {
    font-family: "IM Fell DW Pica",serif;
    font-style: italic;
}
.marchen {
    font-family: "IM Fell DW Pica",serif;
    font-style: normal;
}
.draft {
    font-family: "Fredericka the Great",serif;
    font-style: normal;
}
.computers {
    font-family: "Checkbook",monospace;
    font-style: normal;
}


.DCC {
	font-family: "Duvall", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: -2px -2px 0px rgba(234, 226, 33, 1), 
				  2px  2px 0px rgba(234, 226, 33, 1), 
				  2px -2px 0px rgba(234, 226, 33, 1), 
			     -2px  2px 0px rgba(234, 226, 33, 1), 
				  0px  2px 0px rgba(234, 226, 33, 1), 
				  0px -2px 0px rgba(234, 226, 33, 1), 
				  2px  0px 0px rgba(234, 226, 33, 1), 
			     -2px  0px 0px rgba(234, 226, 33, 1);
				
	color: rgba(255, 0, 27, 1);
}
a:hover .DCC {
    font-family: "Duvall", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:-2px -2px 0px rgba(234, 226, 33, 1), 
                 2px  2px 0px rgba(234, 226, 33, 1), 
                 2px -2px 0px rgba(234, 226, 33, 1), 
                -2px  2px 0px rgba(234, 226, 33, 1), 
                 0px  2px 0px rgba(234, 226, 33, 1), 
                 0px -2px 0px rgba(234, 226, 33, 1), 
                 2px  0px 0px rgba(234, 226, 33, 1), 
                -2px  0px 0px rgba(234, 226, 33, 1), 
                
                -3px -3px 0px rgba(255, 0, 27, 1), 
                 3px  3px 0px rgba(255, 0, 27, 1),
                 3px -3px 0px rgba(255, 0, 27, 1), 
                -3px  3px 0px rgba(255, 0, 27, 1), 
                 0px  3px 0px rgba(255, 0, 27, 1), 
                 0px -3px 0px rgba(255, 0, 27, 1), 
                 3px  0px 0px rgba(255, 0, 27, 1), 
                -3px  0px 0px rgba(255, 0, 27, 1);
        color: rgba(255, 0, 27, 1);
 }
 .Shadowrun {
    font-family: "Shadowrun", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: -1px -1px 0px rgba(201, 65, 47, 1), 
                  1px  1px 0px rgba(201, 65, 47, 1), 
                  1px -1px 0px rgba(201, 65, 47, 1), 
                 -1px  1px 0px rgba(201, 65, 47, 1), 
                  0px  2px 0px rgba(201, 65, 47, 1), 
                  0px -1px 0px rgba(201, 65, 47, 1), 
                  1px  0px 0px rgba(201, 65, 47, 1), 
                 -1px  0px 0px rgba(201, 65, 47, 1);
    color:                     rgba(  0,  0,  0, 1);
}

.MCC {
	font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: -2px -2px 0px rgba(255, 226, 5, 1), 
				  2px  2px 0px rgba(255, 226, 5, 1), 
				  2px -2px 0px rgba(255, 226, 5, 1), 
			     -2px  2px 0px rgba(255, 226, 5, 1), 
				  0px  2px 0px rgba(255, 226, 5, 1), 
				  0px -2px 0px rgba(255, 226, 5, 1), 
				  2px  0px 0px rgba(255, 226, 5, 1), 
			     -2px  0px 0px rgba(255, 226, 5, 1); 
	color: rgba(1, 130, 73, 1);
}
a:hover .MCC {
    font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:  -2px -2px 0px rgba(255, 226, 5, 1), 
                   2px  2px 0px rgba(255, 226, 5, 1), 
                   2px -2px 0px rgba(255, 226, 5, 1), 
                  -2px  2px 0px rgba(255, 226, 5, 1), 
                   0px  2px 0px rgba(255, 226, 5, 1), 
                   0px -2px 0px rgba(255, 226, 5, 1), 
                   2px  0px 0px rgba(255, 226, 5, 1), 
                  -2px  0px 0px rgba(255, 226, 5, 1), 
                 
                  -3px -3px 0px rgba(1, 130, 73, 1), 
                   3px  3px 0px rgba(1, 130, 73, 1),
                   3px -3px 0px rgba(1, 130, 73, 1), 
                  -3px  3px 0px rgba(1, 130, 73, 1), 
                   0px  3px 0px rgba(1, 130, 73, 1), 
                   0px -3px 0px rgba(1, 130, 73, 1), 
                   3px  0px 0px rgba(1, 130, 73, 1), 
                  -3px  0px 0px rgba(1, 130, 73, 1);
         color: rgba(1, 130, 73, 1);
 }


 .GammaWorld {
	font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #DC143C; 
	font-weight: bold;
	text-shadow: -3px -3px 0px rgba(255, 0, 27, 0), 
				  3px  3px 0px rgba(255, 0, 27, 0),
				  3px -3px 0px rgba(255, 0, 27, 0), 
				 -3px  3px 0px rgba(255, 0, 27, 0), 
				  0px  3px 0px rgba(255, 0, 27, 0), 
				  0px -3px 0px rgba(255, 0, 27, 0), 
				  3px  0px 0px rgba(255, 0, 27, 0), 
				 -3px  0px 0px rgba(255, 0, 27, 0);
 }
 a:hover .GammaWorld {
	font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-shadow: -3px -3px 0px rgba(255, 0, 27, 1), 
				  3px  3px 0px rgba(255, 0, 27, 1),
				  3px -3px 0px rgba(255, 0, 27, 1), 
				 -3px  3px 0px rgba(255, 0, 27, 1), 
				  0px  3px 0px rgba(255, 0, 27, 1), 
				  0px -3px 0px rgba(255, 0, 27, 1), 
				  3px  0px 0px rgba(255, 0, 27, 1), 
				 -3px  0px 0px rgba(255, 0, 27, 1);
	color: #212529; 
}


.Dohring-watermark, .TORC-watermark, .SCE-watermark, .Tschopp-watermark {
    position: relative;
    z-index: 1;
  }

.Dohring-watermark::before, .TORC-watermark::before, .SCE-watermark::before, .Tschopp-watermark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
}

.Dohring-watermark::before {
    background: url(/img/home/logo-Dohring.png) no-repeat center center;
    background-size: 50% ; /* or contain */
}

.TORC-watermark::before {
    background: url(/img/home/logo-TORC.png) no-repeat center center;
    background-size: contain ; /* or contain */
}

.SCE-watermark::before {
    background: url( /img/home/logo-SCE.png) no-repeat center center;
    background-size: 50% ; /* or contain */
}

.Tschopp-watermark::before {
    background: url( /img/home/logo-Tschopp.png) no-repeat center center;
    background-size: 25% ; /* or contain */
}