---
layout: null
---

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quotes Ted Likes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://tedt.org/css/gamma-world-cards.css" rel="stylesheet">

    <style type="text/css">
        
        a[hreflang]:after { 
            content: " [" attr(linkstatus) "]"; 
            color: #999;
            vertical-align: super;
            font-size: 70%;
            } 

    </style>

    <script src="https://tedt.org/js/jscii.js"></script>

</head>

<body>
    <Table>
        <tr>
            <td id=papermargin_left>
            </td>
            <td id="paper_printarea" class="tech-v">
                <p><a href="https://tedt.org/">Back</a></p>
                <figure>
                    <img class="img-responsive img-thumbnail" src="https://tedt.org/quotes/media/quotes.jpeg">
                </figure>

			<h1>Ted's Collection of Quotes:</h1>
				{% assign Quotes = site.data.Quotebook %}

				{% comment %}
				{% assign Quotes = site.data.GammaWorldFixed.Creatures | sort: 'Name' %}
				{% endcomment %}
				<ol>

				{% for Quote in Quotes %}
					<li>
						{% if Quote.quote != "" %}
							{{ Quote.quote }}</br>
							{{ Quote.author}} in {{ Quote.source}}<br>
							({{ Quote.tags}})
						{% endif %}
					</li>
				{% endfor %}
				</ol>
			</td>
            <td id="papermargin_right">
            </td>
        </tr>
    </Table>
    <script>
        // put in the image
        var imgJscii = new Jscii({
            width: 150,
            color: true,
            el: document.getElementById('jscii-element-image'),
            fn: function(str) {
                document.getElementById('ascii-container-image').innerHTML = str;
            }
        });
        document.getElementById('jscii-element-image').style.display = 'none';
    </script>
</body>






