<!-- Career Section -->
<div class="container py-1 py-xl-2">
  <section>
    <div class="container h-100 position-relative">
      <div class="row mb-2 mb-lg-2">
        <div class="col-md-12 col-xl-10 text-center mx-auto">
          <h2 id="career">Career</h2>
          <p class="w-lg-75">As a Senior Enterprise Architect at Southern California Edison, I leverage over a decade of experience in guiding major stakeholders through complex tech landscapes, with past entrepreneurial successes including founding a prominent J.R.R. Tolkien community website and features in Wired Magazine, driven by a passion for pioneering futuristic technologies.</p>
        </div>
      </div>
    </div>
  </section>
</div>