<section id="webmentions-section" class="webmentions-content">
    <h2 id="Webmentions-Header">Webmentions</h2>
    <p>Connect your blog or website to this post via <a href="https://www.w3.org/TR/webmention/">Webmentions</a>. Link to this article and your response will appear below, fostering a web-wide discussion. Supports comments, likes, and reposts from any Webmention-enabled site.</p>
  
    <p id="webmentions-comments-list"></p>
    <div id="webmentions-comments-wrapper">
      <noscript><p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading.</p></noscript>
    </div>
    <noscript>You need JavaScript to view the comments.</noscript>

    <div class="well">
        <form class="webmention-form ui form" action="https://webmention.io/tedt.org/webmention" method="post">
            <div class="fields">
                <div class="twelve wide field">
                    <label>Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL:</label><br>
                    <input type="url" name="source" class="url">
                    <label>&nbsp;</label>
                    <input type="submit" class="ui submit button" value="Send Webmention">
                </div>
            </div>
            <div class="status hidden">
                <div class="ui message"></div>
            </div>
            <input type="hidden" name="target" value="{{page.url}}">
        </form>
        <style>
            #webmentions img { max-height: 1.2em; margin-right: -1ex; }
        </style>
        <div id="webmentions" class="webmentions">
        </div>
    </div>
</section>