    <!-- Custom CSS -->
    {% if full-page-url == home-page-url %}
    <link href="{{site.siteurl}}/css/landing-page.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/web-mention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/timeline.css" rel="stylesheet">
    {% else %}    
    <link href="{{site.siteurl}}/css/blog-post.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/web-mention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/webmention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/solarized-dark.css" rel="stylesheet">
    {% endif %}

    {% if this_is_a_draft == true %}
        <link href="{{site.siteurl}}/css/draft-blog-post.css" rel="stylesheet">
    {% endif %}

    <!-- Custom Fonts -->
    {% include css-font-awesome.html %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

    <link rel="preload" href="{{site.siteurl}}/font/UngerFrakturZierbuchstaben.woff22" as="font" type="font/woff2" crossorigin>
