{% case include.category %}
  {% when "Bestiary" %}
    <span role="img" aria-label="Animal Tracks" title="Bestiary">🐾</span>
  {% when "Books" %}
    <span role="img" aria-label="Books" title="Books">📚</span>
  {% when "Communications" %}
    <span role="img" aria-label="Telephone" title="Communications">📞</span>
  {% when "Computers" %}
    <span role="img" aria-label="Computer" title="Computers">💻</span>
  {% when "Draft" %}
    <span role="img" aria-label="Memo" title="Draft">📝</span>
  {% when "Dungeon Crawl Classics" %}
    <span role="img" aria-label="Dice" title="Dungeon Crawl Classics">🎲</span>
  {% when "Dungeons & Dragons" %}
    <span role="img" aria-label="Dragon" title="Dungeons & Dragons">🐉</span>
  {% when "Folklore" %}
    <span role="img" aria-label="Scroll" title="Folklore">📜</span>
  {% when "Gamma World" %}
    <span role="img" aria-label="Radioactive" title="Gamma World">☢️</span>
  {% when "GURPS" or "Gurps" %}
    <span role="img" aria-label="Shield" title="Gurps">🛡️</span>
  {% when "Home" %}
    <span role="img" aria-label="House" title="Home">🏠</span>
  {% when "Maps" %}
    <span role="img" aria-label="World Map" title="Maps">🗺️</span>
  {% when "Middle-earth" %}
    <span role="img" aria-label="Volcano" title="Middle-earth">🌋</span>
  {% when "Mobile" %}
    <span role="img" aria-label="Mobile Phone" title="Mobile">📱</span>
  {% when "Monsters" %}
    <span role="img" aria-label="Ogre" title="Monsters">👹</span>
  {% when "Movies" %}
    <span role="img" aria-label="Clapper Board" title="Movies">🎬</span>
  {% when "Mutant Crawl Classics" %}
    <span role="img" aria-label="DNA" title="Mutant Crawl Classics">🧬</span>
  {% when "Personal Writing" %}
    <span role="img" aria-label="Fountain Pen" title="Personal Writing">🖋️</span>
  {% when "Projects" %}
    <span role="img" aria-label="Projects" title="Projects">🛠️</span>
  {% when "Prompts" %}
    <span role="img" aria-label="Prompts" title="Prompts">🤖</span>
  {% when "Quotes" %}
    <span role="img" aria-label="Speech Balloon" title="Quotes">💬</span>
  {% when "Religion" %}
    <span role="img" aria-label="Latin Cross" title="Religion">✝️</span>
  {% when "Reprint" %}
    <span role="img" aria-label="Repeat" title="Reprint">🔄</span>
  {% when "Role Playing Games" %}
    <span role="img" aria-label="Performing Arts" title="Role Playing Games">🎭</span>
  {% when "Science" %}
    <span role="img" aria-label="Microscope" title="Science">🔬</span>
  {% when "Scouting" %}
    <span role="img" aria-label="Backpack" title="Scouting">🎒</span>
  {% when "The Märchen Engine" %}
    <span role="img" aria-label="Fairy" title="The Märchen Engine">🧚</span>
  {% when "Philosophy" %}
    <span role="img" aria-label="Thinker" title="Philosophy">🤔</span>
  {% when "Opinion" %}
    <span role="img" aria-label="Exclamation" title="Opinion">❗</span>
 {% when "Shadowrun" %}
    <span role="img" aria-label="Cityscape at Dusk" title="Shadowrun">🌆</span>
  {% else %}
    <!-- Output something else if the category doesn't match -->
{% endcase %}
