{% assign d = page.date | date: "%d" %}
{% assign m = page.date | date: "%m" %}
{% assign y = page.date | date: "%C%y" %}

{% if page.guid != null or page.guid != empty %}
  {% assign page-id = page.guid %} 
{% elsif page.slug != null or page.slug != empty %}
  {% assign page-id = y | append: ' - ' | m | append: ' - ' | d | append: ' - ' | page.slug %} 
{% endif %}

  <!-- Blog Comments -->

    <script src="https://giscus.app/client.js"
        data-repo="TedTschopp/tedt.org"
        data-repo-id="MDEwOlJlcG9zaXRvcnk4MzU4NTY5MA=="
        data-category="Comments"
        data-category-id="DIC_kwDOBPtqms4CX6Wq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    <a id="Comments"></a>
    <div class="giscus"></div>
