
{% if page.mastodon-post-id != null or page.mastodon-post-id != empty %}
<section id="comments-test" class="article-content">
  <div class="row g-0 p-0 m-0 d-flex align-items-start">
    <div class="col-1 pt-2 d-flex align-items-center justify-content-center" style="max-width: 4.5em;">
      <a title="View profile at @TedT@twit.social" rel="external nofollow" href="https://twit.social/@TedT" class="avatar-link">
        <img class="m-1" style="height: 2.5em;" alt="@TedT@twit.social avatar" src="https://cdn.masto.host/tschoppnet/cache/accounts/avatars/109/798/021/090/912/767/original/316bb8601ff162ca.png" class="avatar">
      </a>
    </div>
    <div class="col-11">
      <div class="card p-0 m-0">
          <div class="card-header ">
              <div class="card-body p-0 m-0">
                <p class="text-start p-0 m-0 ">Ted Tschopp</p>
                <p class="text-start p-0 m-0 ">@Tedt@Twit.Social</p>
              </div>
          </div>
          <div class="card-body p-0 m-0">
            <div class="row w-100 p-0 m-0 ">
                <p class="card-title p-3 m-0 text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia lectus eu feugiat feugiat. Donec molestie neque eget erat bibendum fermentum. Nunc luctus id sem in ullamcorper. Phasellus sagittis turpis eget orci finibus tempus. Nam arcu ligula, accumsan eget euismod sit amet, laoreet vel risus. Suspendisse malesuada magna sed porta luctus. Proin lorem nunc, tincidunt sed vehicula sit amet, placerat eu magna. Donec enim enim, semper non arcu quis, auctor sodales ipsum. Pellentesque habitant morbi sit.</p>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="row w-100">
              <div class="col-3 text-center d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-reply"></i>
              </div>
              <div class="col-3 text-center d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-retweet"></i>
              </div>
              <div class="col-3 text-center d-flex align-items-center justify-content-center">
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="col-3 text-center d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-bookmark"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>


  <section id="comments" class="article-content">
    <h2>Comments</h2>
    <p>With an account on the Fediverse or Mastodon, you can respond to this <a href="https://{{site.mastodon_comments.host}}/@{{.site.mastodon_comments.username }}/{{page.mastodon-post-id}}">post</a>. Since Mastodon is decentralized, you can use your existing account hosted by another Mastodon server or compatible platform if you don't have an account on this one. Known non-private replies are displayed below.</p>

    <p id="mastodon-comments-list"></p>
    <div id="comments-wrapper">
      <noscript><p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit <a href="https://{{site.mastodon_comments.host}}/@{{.site.mastodon_comments.username }}/{{page.mastodon-post-id}}">the original post</a> on Mastodon.</p></noscript>
    </div>
    <noscript>You need JavaScript to view the comments.</noscript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.8/purify.min.js" integrity="sha512-5g2Nj3mqLOgClHi20oat1COW7jWvf7SyqnvwWUsMDwhjHeqeTl0C+uzjucLweruQxHbhDwiPLXlm8HBO0011pA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
      }
      function emojify(input, emojis) {
        let output = input;

        emojis.forEach(emoji => {
          let picture = document.createElement("picture");

          let source = document.createElement("source");
          source.setAttribute("srcset", escapeHtml(emoji.url));
          source.setAttribute("media", "(prefers-reduced-motion: no-preference)");

          let img = document.createElement("img");
          img.className = "emoji";
          img.setAttribute("src", escapeHtml(emoji.static_url));
          img.setAttribute("alt", `:${ emoji.shortcode }:`);
          img.setAttribute("title", `:${ emoji.shortcode }:`);
          img.setAttribute("width", "20");
          img.setAttribute("height", "20");

          picture.appendChild(source);
          picture.appendChild(img);

          output = output.replace(`:${ emoji.shortcode }:`, picture.outerHTML);
        });

        return output;
      }

      function loadComments() {
        let commentsWrapper = document.getElementById("comments-wrapper");
        //document.getElementById("load-comment").innerHTML = "Loading";

        // https://tschopp.net/api/v1/statuses/111796991086841890/
        // https://tschopp.net/api/v1/statuses/111796991086841890/context
        fetch('https://{{site.mastodon_comments.host}}/api/v1/statuses/{{page.mastodon-post-id}}/context')
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            let descendants = data['descendants'];
            if(
              descendants &&
              Array.isArray(descendants) &&
              descendants.length > 0
            ) {
              commentsWrapper.innerHTML = "";

              descendants.forEach(function(status) {
                  console.log(descendants)
                if( status.account.display_name.length > 0 ) {
                  status.account.display_name = escapeHtml(status.account.display_name);
                  status.account.display_name = emojify(status.account.display_name, status.account.emojis);
                } else {
                  status.account.display_name = status.account.username;
                };

                let instance = "";
                if( status.account.acct.includes("@") ) {
                  instance = status.account.acct.split("@")[1];
                } else {
                  instance = "{{site.mastodon_comments.host}}";
                }

                const isReply = status.in_reply_to_id !== "{{page.mastodon-post-id}}";

                let op = false;
                if( status.account.acct == "{{.site.mastodon_comments.username }}" ) {
                  op = true;
                }

                status.content = emojify(status.content, status.emojis);

                let avatarSource = document.createElement("source");
                avatarSource.setAttribute("srcset", escapeHtml(status.account.avatar));
                avatarSource.setAttribute("media", "(prefers-reduced-motion: no-preference)");

                let avatarImg = document.createElement("img");
                avatarImg.className = "avatar";
                avatarImg.setAttribute("src", escapeHtml(status.account.avatar_static));
                avatarImg.setAttribute("alt", `@${ status.account.username }@${ instance } avatar`);

                let avatarPicture = document.createElement("picture");
                avatarPicture.appendChild(avatarSource);
                avatarPicture.appendChild(avatarImg);

                let avatar = document.createElement("a");
                avatar.className = "avatar-link";
                avatar.setAttribute("href", status.account.url);
                avatar.setAttribute("rel", "external nofollow");
                avatar.setAttribute("title", `View profile at @${ status.account.username }@${ instance }`);
                avatar.appendChild(avatarPicture);

                // This is the avatar that will be used for the final output on the new design.
                let avatarFINAL = JSON.parse(JSON.stringify(avatar));

                let fullStatusIDFINAL = status.id;
                let fullStatusURLFINAL = status.url;
                let fullStatusCreatedAtFINAL = status.created_at;
                let fullDisplayNameFINAL = `@${ status.account.username }@${ instance }`;
                let fullAccountURLFINAL = status.account.url;
                let fullAccountDisplayNameFINAL = status.account.display_name;
                let fullAccountInstanceFINAL = instance;
                let fullContentFINAL = status.content;
                let fullFavoritesCountFINAL = status.favourites_count;
                let fullStatusAccountAvatarFINAL = status.account.avatar;
                let fullStatusAccountAvatarStaticFINAL = status.account.avatar_static;
                let fullStatusUsernameFINAL = status.account.username;
                let fullStatusAccountAcctFINAL = status.account.acct;
                
                let fullDebugJSONObjectFINAL = JSON.stringify(status, null, 2);

                let fullDebugFinal = "<pre>";
                fullDebugFinal += `status.id                                   = ` + fullStatusIDFINAL + "\n"; 
                fullDebugFinal += `status.url                                  = ` + fullStatusURLFINAL + "\n"; 
                fullDebugFinal += `status.created_at                           = ` + fullStatusCreatedAtFINAL + "\n"; 
                fullDebugFinal += `@${ status.account.username }@${ instance } = ` + fullDisplayNameFINAL + "\n"; 
                fullDebugFinal += `status.account.url                          = ` + fullAccountURLFINAL + "\n"; 
                fullDebugFinal += `status.account.display_name                 = ` + fullAccountDisplayNameFINAL + "\n"; 
                fullDebugFinal += `fullAccountInstanceFINAL                    = ` + instance + "\n"; 
                fullDebugFinal += `status.content                              = ` + fullContentFINAL + "\n"; 
                fullDebugFinal += `status.favourites_count                     = ` + fullFavoritesCountFINAL + "\n";
                fullDebugFinal += `status.account.avatar                       = ` + fullStatusAccountAvatarFINAL + "\n";
                fullDebugFinal += `status.account.avatar_static                = ` + fullStatusAccountAvatarStaticFINAL + "\n";
                fullDebugFinal += `status.account.username                     = ` + fullStatusUsernameFINAL + "\n";
                fullDebugFinal += `status.account.acct                         = ` + fullStatusAccountAcctFINAL + "\n";
                //fullDebugFinal += `status (JSON)                               = ` + fullDebugJSONObjectFINAL + "\n";
                fullDebugFinal += "</pre>";


                let instanceBadge = document.createElement("a");
                instanceBadge.className = "instance";
                instanceBadge.setAttribute("href", status.account.url);
                // This next line has the value for the user name and the instance that is used as the second part of the card header.
                instanceBadge.setAttribute("title", `@${ status.account.username }@${ instance }`);
                instanceBadge.setAttribute("rel", "external nofollow");
                instanceBadge.textContent = instance;

                let display = document.createElement("span");
                display.className = "display";
                display.setAttribute("itemprop", "author");
                display.setAttribute("itemtype", "http://schema.org/Person");
                display.innerHTML = status.account.display_name;

                let header = document.createElement("header");
                header.className = "author";
                header.appendChild(display);
                header.appendChild(instanceBadge);

                let permalink = document.createElement("a");
                permalink.setAttribute("href", status.url);
                permalink.setAttribute("itemprop", "url");
                permalink.setAttribute("title", `View comment at ${ instance }`);
                permalink.setAttribute("rel", "external nofollow");
                permalink.textContent = new Date( status.created_at ).toLocaleString('en-US', {
                  dateStyle: "long",
                  timeStyle: "short",
                });

                let timestamp = document.createElement("time");
                timestamp.setAttribute("datetime", status.created_at);
                timestamp.appendChild(permalink);

                let main = document.createElement("main");
                main.setAttribute("itemprop", "text");
                // This next line has the value for the content that is used as the main part of the card body.
                main.innerHTML = status.content;

                let interactions = document.createElement("footer");
                if(status.favourites_count > 0) {
                  let faves = document.createElement("a");
                  faves.className = "faves";
                  faves.setAttribute("href", `${ status.url }/favourites`);
                  faves.setAttribute("title", `Favorites from ${ instance }`);
                  faves.textContent = status.favourites_count;

                  interactions.appendChild(faves);
                }

                let hr = document.createElement("hr");

                let comment = document.createElement("article");
                comment.id = `comment-${ status.id }`;
                comment.className = isReply ? "comment comment-reply" : "comment";
                comment.setAttribute("itemprop", "comment");
                comment.setAttribute("itemtype", "http://schema.org/Comment");
                comment.appendChild(avatar);
                comment.appendChild(header);
                comment.appendChild(timestamp);
                comment.appendChild(main);
                comment.appendChild(interactions);
                comment.appendChild(hr);
                //comment.appendChild(fullDebugFinal);
                comment.appendChild(hr);
                comment.appendChild(createBootStrapCard());


                if(op === true) {
                  comment.classList.add("op");

                  avatar.classList.add("op");
                  avatar.setAttribute(
                    "title",
                    "Blog post author; " + avatar.getAttribute("title")
                  );

                  instanceBadge.classList.add("op");
                  instanceBadge.setAttribute(
                    "title",
                    "Blog post author: " + instanceBadge.getAttribute("title")
                  );
                }



                commentsWrapper.innerHTML += DOMPurify.sanitize(comment.outerHTML);
              });
            }
          });
        }
      loadComments();
    </script>
    <script>
      // Ted's Code
      // Create the main section element

      function createBootStrapCard() {
        // Create the main section element
        const section = document.createElement('section');
        section.id = 'comments-test';
        section.className = 'article-content';

        // Create the row div
        const rowDiv = document.createElement('div');
        rowDiv.className = 'row g-0 p-0 m-0 d-flex align-items-start';

        // Create the column for the avatar
        const colAvatar = document.createElement('div');
        colAvatar.className = 'col-1 pt-2 d-flex align-items-center justify-content-center';
        colAvatar.style.maxWidth = '4.5em';

        // Create the link for the avatar
        const avatarLink = document.createElement('a');
        avatarLink.href = 'https://twit.social/@TedT';
        avatarLink.className = 'avatar-link';
        avatarLink.title = 'View profile at @TedT@twit.social';
        avatarLink.rel = 'external nofollow';

        // Create the avatar image
        const avatarImg = document.createElement('img');
        avatarImg.src = 'https://cdn.masto.host/tschoppnet/cache/accounts/avatars/109/798/021/090/912/767/original/316bb8601ff162ca.png';
        avatarImg.alt = '@TedT@twit.social avatar';
        avatarImg.className = 'm-1 avatar';
        avatarImg.style.height = '2.5em';

        // Append the avatar image to the link, and the link to the column
        avatarLink.appendChild(avatarImg);
        colAvatar.appendChild(avatarLink);

        // Create the column for the card
        const colCard = document.createElement('div');
        colCard.className = 'col-11';

        // Create the card div
        const cardDiv = document.createElement('div');
        cardDiv.className = 'card p-0 m-0';

        // Create the card header
        const cardHeader = document.createElement('div');
        cardHeader.className = 'card-header';

        // Create the header's card body
        const headerCardBody = document.createElement('div');
        headerCardBody.className = 'card-body p-0 m-0';

        // Create and append the name and username paragraphs to the header's card body
        const nameP = document.createElement('p');
        nameP.className = 'text-start p-0 m-0';
        nameP.textContent = 'Ted Tschopp';
        const usernameP = document.createElement('p');
        usernameP.className = 'text-start p-0 m-0';
        usernameP.textContent = '@Tedt@Twit.Social';
        headerCardBody.appendChild(nameP);
        headerCardBody.appendChild(usernameP);

        // Append the header's card body to the card header
        cardHeader.appendChild(headerCardBody);

        // Create the main card body
        const cardBody = document.createElement('div');
        cardBody.className = 'card-body p-0 m-0';

        // Create the content row
        const contentRow = document.createElement('div');
        contentRow.className = 'row w-100 p-0 m-0';

        // Create the paragraph with lorem ipsum
        const contentP = document.createElement('p');
        contentP.className = 'card-title p-3 m-0 text-start';
        contentP.textContent = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia lectus eu feugiat feugiat. Donec molestie neque eget erat bibendum fermentum. Nunc luctus id sem in ullamcorper. Phasellus sagittis turpis eget orci finibus tempus. Nam arcu ligula, accumsan eget euismod sit amet, laoreet vel risus. Suspendisse malesuada magna sed porta luctus. Proin lorem nunc, tincidunt sed vehicula sit amet, placerat eu magna. Donec enim enim, semper non arcu quis, auctor sodales ipsum. Pellentesque habitant morbi sit.';

        // Append the paragraph to the content row, and the row to the card body
        contentRow.appendChild(contentP);
        cardBody.appendChild(contentRow);

        // Create the card footer
        const cardFooter = document.createElement('div');
        cardFooter.className = 'card-footer text-muted';

        // Create the footer row
        const footerRow = document.createElement('div');
        footerRow.className = 'row w-100';

        // Function to create a footer column with an icon
        function createFooterCol(iconClass) {
          const col = document.createElement('div');
          col.className = 'col-3 text-center d-flex align-items-center justify-content-center';
          const icon = document.createElement('i');
          icon.className = iconClass;
          col.appendChild(icon);
          return col;
        }

        // Append columns with icons to the footer row
        footerRow.appendChild(createFooterCol('fa-solid fa-reply'));
        footerRow.appendChild(createFooterCol('fa-solid fa-retweet'));
        footerRow.appendChild(createFooterCol('fa-regular fa-heart'));
        footerRow.appendChild(createFooterCol('fa-solid fa-bookmark'));

        // Append the footer row to the card footer
        cardFooter.appendChild(footerRow);

        // Append the card header, card body, and card footer to the card div
        cardDiv.appendChild(cardHeader);
        cardDiv.appendChild(cardBody);
        cardDiv.appendChild(cardFooter);

        // Append the card div to the colCard
        colCard.appendChild(cardDiv);

        // Append colAvatar and colCard to the rowDiv
        rowDiv.appendChild(colAvatar);
        rowDiv.appendChild(colCard);

        // Finally, append the rowDiv to the main section element
        section.appendChild(rowDiv);

        // Append the main section element to the body or a specific element in the document
        document.body.appendChild(section);

        return section;
      }
    </script>



  </section>
{% else %}
<section id="comments" class="article-content">
  <h2>Comments</h2>
  <p>This post does not have a link to the Fediverse or Mastodon.  Overtime I will add a link. Until that time, comments have been turned off</p>
</section>
{% endif %}