    <!-- Footer -->
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="https://tedt.org/" class="u-url u-uid">Ted Tschopp</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="https://tedt.org/#about">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="https://tedt.org/#contact">Contact</a>
                </li>
                <!--
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li> -->
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="https://tedt.org/1993/01/01/privacy-policy/">Privacy Policy</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">Copyright &copy; Ted Tschopp <script>document.write(new Date().getFullYear())</script>. All Rights Reserved</p>
            </div>
            <div class="col-lg-8 h-100 text-center text-lg-right my-auto">
              {% include html-contact-us-icons.html %}
            </div>
          </div>
        </div>
      </footer>