             {% if site.github_username or
                    site.linkedin_username or
                    site.mastadon_username or
                    site.youtube_username or
                    site.reddit_username or
                    site.indiewebcamp_username or
                    site.quora_username %}
              <ul class="list-inline mb-0">
                {% if site.github_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://github.com/{{ site.github_username }}/" rel="me" class="u-url"><i class="fab fa-github fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.linkedin_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="me"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.threads_username %}
                <li class="list-inline-item mr-3">
                  {% assign threads_strings = site.threads_username | split: "@" %}
                  <a href="https://{{threads_strings[1]}}/@{{threads_strings[0]}}" rel="me" class="u-url"><i class="fa-brands fa-threads"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.mastadon_username %}
                <li class="list-inline-item mr-3">
                  {% assign mastadon_strings = site.mastadon_username | split: "@" %}
                  <a href="https://{{mastadon_strings[1]}}/@{{mastadon_strings[0]}}" rel="me" class="u-url"><i class="fa-brands fa-mastodon"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.youtube_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://www.youtube.com/user/{{ site.youtube_username }}/" rel="me" class="u-url"><i class="fab fa-youtube fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.reddit_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://www.reddit.com/user/{{ site.reddit_username }}/" rel="me" class="u-url"><i class="fab fa-reddit fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.quora_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://www.quora.com/profile/{{ site.quora_username }}/" rel="me" class="u-url"><i class="fab fa-quora fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                {% if site.indiewebcamp_username %}
                <li class="list-inline-item mr-3">
                    <a href="https://indieweb.org/User:{{ site.indiewebcamp_username }}" rel="me" class="u-url"><i class="fa fa-external-link fa-lg fa-fw"></i></a>
                </li>
                {% else %}
                {% endif %}
                <li class="list-inline-item">
                  <a href="{{ site.siteurl }}" rel="me" >
                    <i class="fas fa-home fa-lg fa-fw"></i>
                  </a>
                </li>
              </ul>
              {% endif %}


              {% comment %}

              link.Name
              link.Color
              link.Icon-Class
              link.Text_Color
              link.URL
              link.Username

              {% endcomment %}

              {% if site.links %}
                <ul class="list-inline">
                  {% for link in site.links %}
                    <li class="list-inline-item mr-3">
                      <a href="{{ link.URL }}{% if link.Username %}/{{link.Username}}{%endif%}" rel="me" class="u-url">
                        <i class="{{ link.Icon-Class }} fa-lg fa-fw" {% if link.Color %}style="color: {{ link.Color }}"{% endif %}></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}