              {% comment %}

              link.Name
              link.Color
              link.Icon-Class
              link.Text_Color
              link.URL
              link.Username

              {% endcomment %}

              {% if site.links %}
                <ul class="list-inline">
                  {% for link in site.links %}
                    <li class="list-inline-item mr-3">
                      <a href="{{ link.URL }}{% if link.Username %}/{{link.Username}}{%endif%}" rel="me" alt="Link to my profile on {{Link.Name}}" class="u-url">
                        <i class="{{ link.Icon-Class }} fa-lg fa-fw" {% if link.Color %}style="box-shadow: 0 0 10px {{ link.Color }}"{% endif %}></i>
                      </a>
                    </li>
                    {% if forloop.index == forloop.length | divided_by: 2 %}
                      <br>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}