    <!-- JQuery -->
    {% include js-jquery.html %}

    <!-- Bootstrap -->
    {% include js-bootstrap.html %}

    <!-- Toggle DarkMode-->
    {% include js-toggle-theme.html %}


    <!-- Bottom of the Body include core JavaScript -->
    {% assign this-url = site.siteurl | append: page.url %}

    {% if home-page-url == this-url %}
        <script>
            (function () {
                const hero = document.getElementById('hero-img');
                let ticking = false;
                window.addEventListener('scroll', onScroll, { passive: true });
                function onScroll() {
                    if (!ticking) {
                        window.requestAnimationFrame(() => {
                            const y = window.scrollY;
                            // scale scroll to desired range, then cap at 20px
                            const offset = Math.min(y * 0.2, 20);
                            hero.style.transform = `translateY(${offset}px)`;
                            ticking = false;
                        });
                        ticking = true;
                    }
                }
            })();
        </script>

    {% else %}
        <script src="/js/add-winer-links-and-header-links.js"></script>
    {% endif %}  