    <!-- JQuery -->
    {% include js-jquery.html %}

    <!-- Bootstrap -->
    {% include js-bootstrap.html %}

    <!-- Toggle DarkMode-->
    {% include js-toggle-theme.html %}


    <!-- Bottom of the Body include ore JavaScript -->
    {% assign this-url = site.siteurl | append: page.url %}

    {% if home-page-url == this-url %}
    
    {% else %}
        <!-- add back links to headers via JavaScript {{home-page-url}} == {{page.url}}-->
        <script scr="/js/Table-of-Contents.js"></script>
        
        <script src="/js/add-back-links-to-headers.js"></script>
    {% endif %}  