	
<!--  site.siteurl = {{ site.siteurl | append: "/" }} -->
<!--  full-page-url = {{full-page-url }} -->

	{% assign this_page = page %}
	{% assign page_layout = this_page.layout %}
	{% if this_page.title == null or this_page.title == empty or this_page.title == '' %}
		{% if page_layout == 'micropubpost' %}
			{% assign this_page_title = 'Checked Into ' | append: this_page.mf-checkin[0].properties.name[0] %}
		{% else %}
			{% if site.title == null or site.title == empty or site.title == '' %}
				{% assign this_page_title = "Title: NA" %}
			{% else %}
				{% assign this_page_title = site.title %}
			{% endif %}
		{% endif %}
	{% else%}
		{% assign this_page_title = this_page.title %}
	{% endif %}

	<title>{{ this_page_title }}</title>
    <!-- TODO: Add Multiple Authors -->
    <meta name="author" content="{{ site.givenname }} {{ site.familyname }}">
    <link rel="author" href="/humans.txt">
    <link rel="copyright" href="/copyright.html">
    <link rel="canonical" href="{{ site.siteurl }}{{ page.url }}" />

	{% if full-page-url == home-page-url %}
	    <!-- Search Engine and Browser Meta Tags. -->
	    <meta name="description" content="{{ site.description }}">
	    <meta name="abstract"    content="{{ site.name }}">
	{% else %}
	    <!-- Search Engine and Browser Meta Tags. -->
	    <meta name="description" content="{{ SEO-description }}"> 
	    <meta name="abstract"    content="{{ site.name }}"> 
  {% endif %}

  {% if page.keywords %}
      <meta name="keywords" content="{{ page.keywords }}">
  {% else %}
      <meta name="keywords" content="{{ site.keywords | join: ', ' }}">
  {% endif %}

	{% if full-page-url == home-page-url %}
	    <meta property="fb:app_id"           content="{{site.facebook_app_id}}" />
	    <meta property="og:image"            content="{{ site.siteurl }}/img/webpage_thumbnail.png">
	    <meta property="og:image:alt"        content="{{site.name}}">
	    <meta property="og:site_name"        content="{{ site.name }}">
	    <meta property="og:title"            content="{{ this_page_title }}">
	    <meta property="og:description"      content="{{ site.description }}">
	    <meta property="og:type"             content="website">
	    <meta property="og:url"              content="{{ home-page-url }}">
	    <meta property="og:locale"           content="en_US">
	    <meta property="og:email"            content="{{ site.email }}">
	    <meta property="og:phone_number"     content="{{ site.phonenumber }}">

	{% else %}
		<!-- Open Graph Meta Tags (ogp.me) -->
	    {% if page.image %}
	        <meta property="og:image"            content="{{ site.siteurl }}{{ page.image }}">
	        <meta property="og:image:alt"        content="{{ page.title }}">
	    {% else %}
	        <meta property="og:image"            content="{{ site.siteurl }}/img/home/logo-Tschopp.png">
	        <meta property="og:image:alt"        content="{{ site.name }}">
	    {% endif %}
	    <meta property="fb:app_id"           content="{{facebook_app_id}}" />
	    <meta property="og:site_name"        content="{{ site.name }}">
	    <meta property="og:title"            content="{{ page.title }} - {{ site.name }}">
	    <meta property="og:description"      content="{{ SEO-description }}">  
	    <meta property="og:type"             content="article">  
	    <meta property="og:url"              content="{{ site.siteurl }}/{{ page.url }}"> 
	    <meta property="og:locale"           content="en_US">    
	{% endif %}


	<!-- Twitter Meta Tags. -->
	{% if full-page-url == home-page-url %}
		<!-- Home Page Twitter Data -->
	    <meta name="twitter:url"             content="{{ site.siteurl }}">
	    <meta name="twitter:title"           content="{{ site.title }}">
	    <meta name="twitter:description"     content="{{ site.description }}">
	    <meta name="twitter:image"           content="{{ site.siteurl }}/img/apple-touch-icon-144x144.png">
	    <meta name="twitter:image:alt"       content="{{ site.logo-alt}}">
	{% else %}
		<!-- Post Twitter Data -->
	    <meta name="twitter:card"            content="summary">
	    <meta name="twitter:site"            content="@{{ site.twitter_username }}">
	    <meta name="twitter:creator"         content="@{{ site.twitter_username }}">

	    <meta name="twitter:url"             content="{{ site.siteurl }}{{ page.url }}">
	    <meta name="twitter:title"           content="{{ page.title }} - {{ site.title }}">
	    <meta name="twitter:description"     content="{{ SEO-description }}">

	    {% if page.image %}
	        <meta property="twitter:image"            content="{{ site.siteurl }}{{ page.image }}">
	    {% else %}
	        <meta property="twitter:image"            content="{{ site.siteurl }}/img/home/logo-Tschopp.png">
	    {% endif %}

	    {% if page.image-credits %}
	        <meta name="twitter:image:alt"       content="{{ page.image-credits }}">
	    {% else %}
	        <meta name="twitter:image:alt"       content="{{ page.title }}">
	    {% endif %}
	{% endif %}

    <!-- Favicon Meta Tags.  -->
    <link rel="shortcut icon" href="{{ site.siteurl }}/img/favicon.ico">
    <link rel="icon" type="image/png" href="{{ site.siteurl }}/img/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ site.siteurl }}/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.siteurl }}/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.siteurl }}/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.siteurl }}/img/favicon-128.png" sizes="128x128" />


    <!-- Apple iOS Settings. -->
    <!--Sets whether a web application runs in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <!-- Color of the status bar -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Web App Name for the Shortcut -->
    <meta name="apple-mobile-web-app-title"            content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <!-- Do Not Detect Phone Numbers -->
    <meta name="format-detection"                      content="telephone=no">

    <!-- iPhone icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.siteurl }}/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.siteurl }}/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.siteurl }}/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.siteurl }}/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.siteurl }}/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.siteurl }}/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.siteurl }}/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.siteurl }}/img/apple-touch-icon-152x152.png" />


    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ site.siteurl }}/img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ site.siteurl }}/img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.siteurl }}/img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ site.siteurl }}/img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.siteurl }}/img/mstile-310x310.png" />

    <!-- Google Chrome. -->

    <meta name="google" value="notranslate">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Pinterest. -->
    <!-- Prevents sharing of content by Pinterest users. -->
    <!-- <meta name="pinterest" content="nopin" description="Sorry, you can't save from my website!"> -->
    <!-- Pinterest Verify -->
    <meta name="p:domain_verify" content="{{ site.pinterest_domain_verify }}"/>

{% comment %}

<!-- Begin Jekyll SEO tag v{{ seo_tag.version }} -->
{% if seo_tag.title %}
  <title>{{ seo_tag.title }}</title>
{% endif %}

<meta name="generator" content="Jekyll v{{ jekyll.version }}" />

{% if seo_tag.page_title %}
  <meta property="og:title" content="{{ seo_tag.page_title }}" />
{% endif %}

{% if seo_tag.author.name %}
  <meta name="author" content="{{ seo_tag.author.name }}" />
{% endif %}

{% if seo_tag.page_locale %}
	<meta property="og:locale" content="{{ seo_tag.page_locale }}" />
{% endif %}

{% if seo_tag.description %}
  <meta name="description" content="{{ seo_tag.description }}" />
  <meta property="og:description" content="{{ seo_tag.description }}" />
  <meta property="twitter:description" content="{{ seo_tag.description }}" />
{% endif %}

{% if site.url %}
  <link rel="canonical" href="{{ seo_tag.canonical_url }}" />
  <meta property="og:url" content="{{ seo_tag.canonical_url }}" />
{% endif %}

{% if seo_tag.site_title %}
  <meta property="og:site_name" content="{{ seo_tag.site_title }}" />
{% endif %}

{% if seo_tag.image %}
  <meta property="og:image" content="{{ seo_tag.image.path }}" />
  {% if seo_tag.image.height %}
    <meta property="og:image:height" content="{{ seo_tag.image.height }}" />
  {% endif %}
  {% if seo_tag.image.width %}
    <meta property="og:image:width" content="{{ seo_tag.image.width }}" />
  {% endif %}
  {% if seo_tag.image.alt %}
    <meta property="og:image:alt" content="{{ seo_tag.image.alt }}" />
  {% endif %}
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}" />
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}" />
{% endif %}

{% if seo_tag.image %}
  <meta name="twitter:card" content="{{ page.twitter.card | default: site.twitter.card | default: "summary_large_image" }}" />
  <meta property="twitter:image" content="{{ seo_tag.image.path }}" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

{% if seo_tag.image.alt %}
  <meta name="twitter:image:alt" content="{{ seo_tag.image.alt }}" />
{% endif %}

{% if seo_tag.page_title %}
  <meta property="twitter:title" content="{{ seo_tag.page_title }}" />
{% endif %}

{% if site.twitter %}
  <meta name="twitter:site" content="@{{ site.twitter.username | remove:'@' }}" />

  {% if seo_tag.author.twitter %}
    <meta name="twitter:creator" content="@{{ seo_tag.author.twitter | remove:'@' }}" />
  {% endif %}
{% endif %}

{% if site.facebook %}
  {% if site.facebook.admins %}
    <meta property="fb:admins" content="{{ site.facebook.admins }}" />
  {% endif %}

  {% if site.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.facebook.publisher }}" />
  {% endif %}

  {% if site.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
  {% endif %}
{% endif %}

{% if site.webmaster_verifications %}
  {% if site.webmaster_verifications.google %}
    <meta name="google-site-verification" content="{{ site.webmaster_verifications.google }}" />
  {% endif %}

  {% if site.webmaster_verifications.bing %}
    <meta name="msvalidate.01" content="{{ site.webmaster_verifications.bing }}" />
  {% endif %}

  {% if site.webmaster_verifications.alexa %}
    <meta name="alexaVerifyID" content="{{ site.webmaster_verifications.alexa }}" />
  {% endif %}

  {% if site.webmaster_verifications.yandex %}
    <meta name="yandex-verification" content="{{ site.webmaster_verifications.yandex }}" />
  {% endif %}

  {% if site.webmaster_verifications.baidu %}
    <meta name="baidu-site-verification" content="{{ site.webmaster_verifications.baidu }}" />
  {% endif %}

  {% if site.webmaster_verifications.facebook %}
    <meta name="facebook-domain-verification" content="{{ site.webmaster_verifications.facebook }}" />
  {% endif %}
{% elsif site.google_site_verification %}
  <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
{% endif %}

<script type="application/ld+json">
  {{ seo_tag.json_ld | jsonify }}
</script>

<!-- End Jekyll SEO tag -->
{% endcomment %}