{% if page.previous.url %}
	{% assign previous_page = page.previous %}
	{% assign previous_layout = previous_page.layout %}
	{% if page.previous.title == null or page.previous.title == empty or page.previous.title == '' %}
		{% if previous_layout == 'micropubpost' %}
			{% assign previous_title = 'Checked Into ' | append: page.prev.mf-checkin[0].properties.name[0] %}
		{% else %}
			{% assign previous_title = "Title: NA" %}
		{% endif %}
	{% else%}
		{% assign previous_title = page.previous.title %}
	{% endif %}
	{% assign previous_url = page.previous.url %}
{% else %}
	{% assign previous_url = site.siteurl %}
	{% assign previous_title = "Home" %}
{% endif %}
{% if page.next.url %}
	{% assign next_page = page.next %}
	{% assign next_layout = next_page.layout %}
	{% if page.next.title == null or page.next.title == empty or page.next.title == '' %}
		{% if next_layout == 'micropubpost' %}
			{% assign next_title = 'Checked Into: ' | append: page.next.mf-checkin[0].properties.name[0] %}
		{% else %}
			{% assign next_title = "Title: NA" %}
		{% endif %}
	{% else%}
		{% assign next_title = page.next.title %}
	{% endif %}
	{% assign next_url = page.next.url %}

{% else %}
	{% assign next_url = site.siteurl %}
	{% assign next_title = "Home" %}
{% endif %}

{% if previous_url or next_url %}
	<div class="row">
	<div class="col-md-6 text-center">
		<span class="float-md-left">{% if previous_url %}<a href="{{previous_url}}" class="prev"><i class="fa fa-angle-double-left"></i> {{ previous_title}}</a>{% endif %}</span>
	</div>
	<div class="col-md-6 text-center">
		<span class="float-md-right">{% if next_url %}<a href="{{next_url}}" class="next">{{next_title}} <i class="fa fa-angle-double-right"></i></a>{% endif %}</span>
	</div>
	</div>
{% endif %}
