        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://www.tedt.org/">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img src="https://tedt.org/img/TT.svg" height="42" width="42"></span>
                <span>Brand</span>
              </a>
              <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse ms-auto" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item ms-auto mb-2 mb-lg-0">
                      <a class="nav-link" href="https://tedt.org/RPG/MCC-GW/"><span class="DCC">Dungeon Crawl Classics</span>,&nbsp;&nbsp;<span class="MCC">Mutant Crawl Classics</span>, &amp; <span class="GammaWorld">Gamma World</span></a></a>
                  </li>
                  <li class="nav-item ms-auto mb-2 mb-lg-0">
                      <a class="nav-link" href="{{site.siteurl}}/#about">About</a>
                  </li>
                  <li class="nav-item ms-auto mb-2 mb-lg-0">
                      <a class="nav-link" href="{{site.siteurl}}/#blog">Blog</a>
                  </li>
                  <li class="nav-item dropdown ms-auto mb-2 mb-lg-0">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Resume
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end ms-auto mb-2 mb-lg-0">
                          {% assign sorted_homepage = site.categories.['Home'] | sort: 'order' %}
                          {% for post in sorted_homepage %}
                              {% for tag in post.tags %}
                                  {% if tag == 'Resume' %}
                                      <li class="nav-item ms-auto mb-2 mb-lg-0"><a class="dropdown-item" href="{{site.siteurl}}/#{{ post.title | slugify}}">{{ post.title }}</a></li>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                      </ul>
                  </li>
                  <li class="nav-item dropdown ms-auto mb-2 mb-lg-0">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Projects
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end ms-auto mb-2 mb-lg-0">
                          {% assign sorted_homepage = site.categories.['Home'] | sort: 'order' %}
                          {% for post in sorted_homepage %}
                              {% for tag in post.tags %}
                                  {% if tag == 'Project' %}
                                      <li class="nav-item ms-auto mb-2 mb-lg-0"><a class="dropdown-item" href="{{site.siteurl}}/#{{ post.title | slugify}}">{{ post.title }}</a></li>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                      </ul>
                  </li>
                  <li class="nav-item dropdown ms-auto mb-2 mb-lg-0">
                    <button type="button" onclick="toggleTheme()"" class="btn btn-outline-secondary"><i class="fa-solid fa-circle-half-stroke"></i></button>
                  </li>
      
                </ul>
              </div>
            </div>
          </nav>
