// Variables

// Restated Bootstrap Variables

// Default Bookstrap Variables
// $white: #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Default Bootstrap Variables
// $primary: $blue !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

// Teds Colors
//$primary: #00664f !default;
//$secondary: #e87722 !default;
//$success: #00b339 !default;
//$info: #00a9e0 !default;
//$warning: #f6c900 !default;
//$danger: #f90041 !default;
//$light: #b1b3b3 !default;
//$dark: #101820 !default;

$light:      #b1b3b3 !default;
$dark:       #101820 !default;
$primary:    #00664f !default;
$secondary:  #e87722 !default;
$info:       #00a9e0 !default;
$accent1:    #f4c842 !default;
$accent2:    #6e2585 !default;
$accent3:    #f7b2b7 !default;
$success:    #00b339 !default;
$warning:    #f6c900 !default;
$danger:     #f90041 !default;

$white: rgba(248,246,240,1) !default;
$gray-100: rgba(224,222,218,1) !default;
$gray-200: rgba(200,199,195,1) !default;
$gray-300: rgba(176,175,172,1) !default;
$gray-400: rgba(152,151,150,1) !default;
$gray-500: rgba(128,128,128,1) !default;
$gray-600: rgba(103,104,105,1) !default;
$gray-700: rgba(079,080,082,1) !default;
$gray-800: rgba(055,056,060,1) !default;
$gray-900: rgba(031,033,038,1) !default;
$black: rgba(007,009,015,1) !default;