    {% assign site_profile_social = site.profile.social %}
    <!-- IndieAuth.com -->
    {% if site_profile_social.github_username or
          site_profile_social.linkedin_username or
          site_profile_social.twitter_username or
          site_profile_social.facebook_username or
          site_profile_social.google_username or
          site_profile_social.youtube_username or
          site_profile_social.pinterest_username or
          site_profile_social.reddit_username or
          site_profile_social.instagram_username or
          site_profile_social.quora_username or
          site_profile_social.indiewebcamp_username or
          site_profile_social.keybaseio_username
          %}

            {% if site_profile_social.keybaseio_username %}
              <link href="https://keybase.io/{{ site_profile_social.keybaseio_username }}" rel="me">
            {% else %}
            {% endif %}

            {% if site_profile_social.github_username %}
                <link href="https://github.com/{{ site_profile_social.github_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.linkedin_username %}
                <link href="https://www.linkedin.com/in/{{ site_profile_social.linkedin_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.twitter_username %}
                <link href="https://twitter.com/{{ site_profile_social.twitter_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.facebook_username %}
                <link href="https://www.facebook.com/{{ site_profile_social.facebook_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.google_username %}
                <link href="https://plus.google.com/u/0/+{{ site_profile_social.google_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.youtube_username %}
                <link href="https://www.youtube.com/user/{{ site_profile_social.youtube_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.pinterest_username %}
                <link href="https://www.pinterest.com/{{ site_profile_social.pinterest_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.reddit_username %}
                <link href="https://www.reddit.com/user/{{ site_profile_social.reddit_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.instagram_username %}
                <link href="https://www.instagram.com/{{ site_profile_social.instagram_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.quora_username %}
                <link href="https://www.quora.com/profile/{{ site_profile_social.quora_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site_profile_social.indiewebcamp_username %}
                <link href="https://indieweb.org/User:{{ site_profile_social.indiewebcamp_username }}/" rel="me">
            {% else %}
            {% endif %}
    {% endif %}
    
    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/tedt.org/webmention" />
    <link rel="pingback" href="https://webmention.io/tedt.org/xmlrpc" />

    <!-- Indieauth.com/ 
         MICROPUB_TOKEN_ENDPOINT Required
         The token endpoint to verify the micropub token against. See: https://indieweb.org/token-endpoint
    -->

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <!--- <link href="https://micropub-to-github-for-ted.herokuapp.com/micropub/main" rel="micropub"> --->
