                  {% assign content_published_at = page.web_published_at | default: page.date %}
                  {% assign content_modified_at = page.web_modified_at | default: page.last_modified_at | default: page.update | default: page.updated %}
                  {% assign d = content_published_at | date: "%d" %}
                  {% assign m = content_published_at | date: "%B" %}
                  {% assign dy = content_published_at | date: "%A" %}
                  {% assign year = content_published_at | date: "%Y" %}
                  {% assign hour = content_published_at | date: "%H" %}
                  {% assign buildDate = "now" | date: '%s'  %}
                  {% assign thisDate = content_published_at | date: '%s' %}
                  {% assign prevDateDiff = buildDate | minus: thisDate %}
                  {% assign prevDateDiff = prevDateDiff | divided_by: 86400 %}
                  <!-- Date/Time -->
                    <p><i class="fa-regular fa-clock" aria-hidden="true"></i>&nbsp;Posted <time datetime="{{ content_published_at | date_to_xmlschema }}" class="aria-hidden hidden dt-publish">{{ content_published_at | date_to_xmlschema }}</time><time class="dt-publish" datetime="{{ content_published_at | date_to_xmlschema }}">{% capture time-output-temp %} {% include utility/fuzzy-date.html daysDiff=prevDateDiff label='ago' %}, {% case hour %}{% when '01' or '02' or '03' or '04' or '23' or '24' %}during the night{% when '05' or '06' or '07' or '08' %}in the early morning{% when '09' or '10' or '11' %}late in the morning{% when '12' %}at noon{% when '13' or '14' or '15' %}early in the afternoon{% when '16' or '17' %}late in the afternoon{% when '18' or '19' %}early in the evening{% when '20' or '21' or '22' %}late in the evening{% endcase %}{% endcapture %}{{ time-output-temp | strip }} </time></p>
 
                    {% if content_modified_at and content_modified_at != content_published_at %}
                      {% assign d = content_modified_at | date: "%d" %}
                      {% assign m = content_modified_at | date: "%B" %}
                      {% assign dy = content_modified_at | date: "%A" %}
                      {% assign hour = content_modified_at | date: "%H" %}
                      {% assign buildDate = "now" | date: '%s'  %}
                      {% assign thisDate = content_modified_at | date: '%s'  %}
                      {% assign prevDateDiff = buildDate | minus: thisDate %}
                      {% assign prevDateDiff = prevDateDiff | divided_by: 86400 %}
                          <i class="fa-regular fa-clock" aria-hidden="true"></i>&nbsp;Updated: <time datetime="{{ content_modified_at | date_to_xmlschema }}" class="aria-hidden hidden dt-update">{{ content_modified_at | date_to_xmlschema }}</time> <time class="dt-update" datetime="{{ content_modified_at | date_to_xmlschema }}">
                          {% case hour %}
                              {% when '01' or '02' or '03' or '04' or '23' or '24' %}
                                  during the night
                              {% when '05' or '06' or '07' or '08' %}
                                  in the early morning
                              {% when '09' or '10' or '11'%}
                                  late in the morning
                              {% when '12' %}
                                  at noon
                              {% when '13' or '14' or '15' %}
                                  early in the afternoon
                              {% when '16' or '17' %}
                                  late in the afternoon
                              {% when '18' or '19' %}
                                  early in the evening
                              {% when '20' or '21' or '22' %}
                                  late in the evening
                          {%endcase%}
                          
                        on {{ dy }}, {{ m }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>{% when '2' or '22' %}{{ d }}<sup>nd</sup>{% when '3' or '23' %}{{ d }}<sup>rd</sup>{% else %}{{ d }}<sup>th</sup>{% endcase %}</time></br>
                    {% endif %}
