<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">

    {% include calculate-variables.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth and WebMentions Metadata -->
    {% include indieauth-and-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}

    <!-- PWA Header Includes -->
    {% include pwa-header-includes.html %}

    <!-- News Feed Meta Tags. -->
    {% include feeds.html %}

    <!-- START OF CSS INCLUDE -->

    {% include all-css-includes.html %}

    <!-- END OF CSS INCLUDE -->

    <!-- Scripts that need to be at the end of the header -->
    {% include scripts.html %}


  </head>

  <body>
    {% include top-nav-bar.html %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <article class="h-entry">
                    <!-- Title -->
                    <h1 class="p-name">Category: {% include category-emoji.html category=page.title %} {{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2>{{page.subtitle}}</h2>
                    {% endif %}
                    {% assign category = page.category | downcase | slugify %}
                    {% assign image = category | append: ".webp" %}
                    <figure>
                        <img class="img-responsive img-thumbnail" src="{{ site.siteurl }}/img/categories/{{ image }}" alt="{{page.category}}">
                    </figure>
                    <!-- Calculate the pages description if one isn't present -->
                    {% if page.description == null or page.description == empty %}
                      {% if page.excerpt != "" %}
                          {% assign SEO-description = page.excerpt | strip_html %}
                      {% else %}
                          {% assign SEO-description = stripped-content %}
                      {% endif %}
                    {% else %}
                        {% assign SEO-description = page.description %}
                    {% endif %}

                    <div class="category-description">{{ SEO-description }}</div>

                    <!-- Post Content -->

                    <style>
                      .category-description ul {
                        margin-left: 20px;
                        list-style-type: disc;
                      }
                      .category-description li {
                        margin-bottom: 5px;
                      }
                      .category-description p {
                        margin-bottom: 15px;
                      }
                    </style>


                    <span class="e-content" id="main_content">
                      <ol>
                        {% for post in site.categories[page.category] %}
                            <li class="list-item-custom">
                              <div class="container">
                                <div class="row align-items-stretch">
                                 
                                  {% if post.image and post.image != '' %}
                                    {% if post.image-alt %}
                                        {% assign image_alt = post.image-alt %}
                                    {% elsif post.image-description %}
                                        {% assign image_alt = post.image-description %}
                                    {% else %}
                                        {% assign image_alt = post.title %}
                                    {% endif %}
            
                                    {% if post.image-credits-title %}
                                        {% assign image_credits_title = post.image-credits-title %}
                                    {% elsif post.image-title %}
                                        {% assign image_credits_title = post.image-title %}
                                    {% else %}
                                        {% assign image_credits_title = "Unknown" %}
                                    {% endif %}
            
                                    {% if post.image-credits-artist %}
                                        {% assign image_credits = post.image-credits-artist %}
                                    {% elsif post.image-artist %}
                                        {% assign image_credits = post.image-artist %}
                                    {% else %}
                                        {% assign image_credits = "Unknown" %}
                                    {% endif %}
            
                                    {% if post.image-credits-artist-URL %}
                                        {% assign image_credits_artist_URL = post.image-credits-artist %}
                                    {% elsif post.image-artist-URL %}
                                        {% assign image_credits_artist_URL = post.image-artist-URL %}
                                    {% endif %}
            
                                    {% if post.image %}
                                        {% if post.image contains "http" %}
                                            {% assign image_URL = post.image %}
                                        {% else %}
                                            {% assign image_URL = site.siteurl | append: "/" | append: post.image %}
                                        {% endif %}
                                    {% else %}
                                        {% assign image_URL = site.featured-image %}
                                    {% endif %}

                                    <div class="card rounded-0 px-0">
                                                            <div class="row g-0">
                                                              <div class="col-md-4">
                                                                <img src="{{ image_URL }}" alt="{{ image_alt }} by {{ image_credits }}" class="img-fluid rounded-start"
                                                                  style="width: 100%; height: 100%; object-fit: cover;" loading="lazy">
                                                              </div>
                                                              <div class="col-md-8">
                                                                <div class="card-body">
                                                                  <h4 class="card-title">
                                                                    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                                                                  </h4>
                                                                  <p class="card-text text-truncate-2">
                                                                    {{ post.teaser | default: post.description | default: post.excerpt | strip_html }}
                                                                  </p>
                                                                  <p class="card-text">
                                                                    Posted on <small class="text-muted text-body-secondary">
                                                                      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,
                                                                        %Y" }}</time>
                                                                    </small>
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                  {% else %}
                                                          <div class="card rounded-0 px-0">
                                                            <div class="row g-0">
                                                              <div class="col-md-12">
                                                                <div class="card-body">
                                                                  <h4 class="card-title">
                                                                    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                                                                  </h4>
                                                                  <p class="card-text text-truncate-2">
                                                                    {{ post.teaser | default: post.description | default: post.excerpt | strip_html }}
                                                                  </p>
                                                                  <p class="card-text">
                                                                    Posted on <small class="text-muted text-body-secondary">
                                                                      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,
                                                                        %Y" }}</time>
                                                                    </small>
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                  {% endif %}









                                </div>
                              </div>
                              </li>
                        {% endfor %}
                        </ol>                    
                      </span>

                </article>

                <hr>
                {% include comments.html %}

                {% include comments-webmentions.html %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="post-categories">
                        <h4>All Categories</h4>
                        <ul>
                            {% assign sorted_categories = site.categories | sort %}
                            {% for category in sorted_categories %}
                            <li style="list-style: none;">
                                {% assign category-to-render = category[0] %}
                                {% include full-category.html category=category-to-render render-number=true%}
                            </li>
                          {% endfor %}
                        </ul>

                      </div>
                </div>

              </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    {% include footer.html %}

    {% include js-bottom-of-body.html %}

  </body>
</html>







