---
layout: post
---


{% assign category = page.category | downcase | slugify %}
{% assign image = category | append: ".png" %}

  <figure>
      <img class="img-responsive img-thumbnail" src="{{site.siteurl}}img/categories/{{ image }}" alt="{{page.category}}">
  </figure>

<!-- Calculate the pages description if one isn't present -->
{% if page.description == null or page.description == empty %}
  {% if page.excerpt != "" %}
      {% assign SEO_description = page.excerpt | strip_html %}
  {% else %}
      {% assign SEO_description = stripped-content %}
  {% endif %}
{% else %}
    {% assign SEO_description = page.description %}
{% endif %}

<p>{{ SEO_description }}</p>

<ol>
{% for post in site.categories[page.category] %}
    <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time> <dl><dt><a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a></dt><dd>{{ post.description }}</dd></dl></li>
{% endfor %}
</ol>