<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">

    {% include calculate-variables.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth and WebMentions Metadata -->
    {% include indieauth-and-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}

    <!-- PWA Header Includes -->
    {% include pwa-header-includes.html %}

    <!-- News Feed Meta Tags -->
    {% include feeds.html %}

    <!-- START OF CSS INCLUDE -->
    {% include all-css-includes.html %}
    <!-- END OF CSS INCLUDE -->

    <!-- Scripts that need to be at the end of the header -->
    {% include scripts.html %}
  </head>
  <body style="scroll-padding-top: 70px;" data-bs-spy="scroll" data-bs-target="#navbarNavDarkDropdown" data-bs-offset="70">

    <!-- Navbar -->
    {% include top-nav-bar.html %}

    <!-- Page Content -->
    <!-- Masthead -->
    <header>
      <section class="showcase position-relative">
        <div class="g-0 w-100 container-fluid">
          <div class="w-100 position-relative">
            <img src="/img/categories/home.webp" class="img-fluid w-100 h-100" alt="Image of Ted Tschopp sitting by a lake">
          </div>
        </div>
      </section>
    </header>

    <div class="container py-4 py-xl-5">
      <section>
        <div class="container h-100 position-relative" style="top: -75px;">
          <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
              <div class="card h-100">
                <div class="ratio ratio-3x1">
                  <img class="card-img-top w-100 d-block img-fluid rounded-start object-fit-cover" alt="Ted sitting at a computer in Nature" src="{{ site.siteurl }}/img/home/blog.webp" />
                </div>
                <div class="card-body pt-2 pb-2 p-4">
                  <h2 class="card-title" id="blog">Blog</h2>
                  <h3 class="text-muted card-subtitle h5 mb-2">Exploring the Intersection of Tech, Theology, and Imagination</h3>
                  <p class="card-text">This blog is my journey exploring technology, theology, and creativity, where I talk about religion in the digital age, trends in UI/UX, collaboration tools, and storytelling.</p>
                </div>
                <div class="card-footer p-0 py-0 h-100">
                  {% assign count = 0 %}
                  {% for post in site.posts %}
                    {% if post.categories contains "Bestiary" or post.category == "Bestiary" %}
                      <!-- Do Nothing -->
                    {% elsif post.categories contains "Draft" or post.category == "Draft" %}
                      <!-- Do Nothing -->
                    {% elsif post.categories contains "Role Playing Games" or post.category == "Role Playing Games" %}
                      <!-- Do Nothing -->
                    {% elsif post.categories contains "Folklore" or post.category == "Folklore" %}
                      <!-- Do Nothing -->
                    {% elsif post.categories contains "Quotes" or post.category == "Quotes" %}
                      <!-- Do Nothing -->
                    {% elsif post.categories contains "Home" or post.category == "Home" %}
                      <!-- Do Nothing -->
                    {% elsif post.layout contains "micropubpost" %}
                      <!-- Do Nothing -->
                    {% else %}
                      {% assign count = count | plus: 1 %}
                      {% if count > 3 %}
                        {% break %}
                      {% endif %}

                      <div class="container">
                          <div class="row align-items-stretch">
                            {% if post.image %}
                              {% assign image_alt = post.image-alt | default: post.image-description | default: post.title %}
                              {% assign image_credits_title = post.image-credits-title | default: post.image-title | default: "Unknown" %}
                              {% assign image_credits = post.image-credits-artist | default: post.image-artist | default: "Unknown" %}
                              {% assign image_credits_artist_URL = post.image-credits-artist-URL | default: post.image-artist-URL %}
                              {% assign image_URL = post.image %}
                              <div class="card p-0 h-100 position-relative" border-0 style="max-width: 640px;">
                                <div class="row g-0 h-100">
                                  <div class="col-md-4 h-100">
                                    <img src="{{ image_URL }}" class="img-fluid pt-3 object-fit-cover" alt="{{image_alt}} by {{image_credits}}">
                                  </div>
                                  <div class="col-md-8 d-flex align-items-center">
                                    <div class="card-body">
                                      <dl>
                                        <div class="card-title">
                                          <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                        </div>
                                        <div class="card-text">
                                          <div class="text-truncate-2">
                                            <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                          </div>
                                        </div>
                                      </dl>
                                      <div class="card-text">
                                        Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                      </div>
                                      <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% else %}
                              <div class="card p-0 h-100 border-0 position-relative" style="max-width: 640px;">
                                <div class="row g-0 h-100">
                                  <div class="col-md-12 d-flex align-items-center">
                                    <div class="card-body">
                                      <dl>
                                        <div class="card-title">
                                          <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                        </div>
                                        <div class="card-text">
                                          <div class="text-truncate-2">
                                            <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                          </div>
                                        </div>
                                      </dl>
                                      <div class="card-text">
                                        Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                      </div>
                                      <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          </div>
                      </div>

                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="ratio ratio-3x1">
                  <img class="card-img-top w-100 d-block img-fluid rounded-start object-fit-cover" alt="Swiss Children Playing with a Doll" src="{{ site.siteurl }}/img/home/Folklore.webp" />
                </div>
                <div class="card-body pt-2 pb-2 p-4">
                  <h2 class="card-title" id="folklore"><a href="/category/Folklore">Swiss Folklore</a></h2>
                  <h3 class="text-muted card-subtitle h5 mb-2">Whispers from the Alps: Navigating Swiss Folk Tales</h3>
                  <p class="card-text">A collection of Swiss Folklore stories I am translating and posting here. I am using computer tools to do the translation work, so everything might not be 100% accurate.</p>
                </div>
                <div class="card-footer p-0 py-0 h-100">
                  {% assign posts-drafts = site.posts | where_exp: "post", "post.categories contains 'Folklore'" | sort: "date" | reverse %}
                  {% for post in posts-drafts limit:3 %}
                    <div class="container">
                      <div class="row align-items-stretch">
                        {% if post.image %}
                          {% assign image_alt = post.image-alt | default: post.image-description | default: post.title %}
                          {% assign image_credits_title = post.image-credits-title | default: post.image-title | default: "Unknown" %}
                          {% assign image_credits = post.image-credits-artist | default: post.image-artist | default: "Unknown" %}
                          {% assign image_credits_artist_URL = post.image-credits-artist-URL | default: post.image-artist-URL %}
                          {% assign image_URL = post.image %}
                          <div class="card border-0 p-0 h-100 position-relative" style="max-width: 640px;">
                            <div class="row g-0 h-100">
                              <div class="col-md-4 h-100">
                                <img src="{{ image_URL }}" class="img-fluid pt-3 object-fit-cover" alt="{{image_alt}} by {{image_credits}}">
                              </div>
                              <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body">
                                  <dl>
                                    <div class="card-title">
                                      <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                    </div>
                                    <div class="card-text">
                                      <div class="text-truncate-2">
                                        <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                      </div>
                                    </div>
                                  </dl>
                                  <div class="card-text">
                                    Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                  </div>
                                  <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% else %}
                          <div class="card border-0 p-0 h-100 position-relative" style="max-width: 640px;">
                            <div class="row g-0 h-100">
                              <div class="col-md-12 d-flex align-items-center">
                                <div class="card-body">
                                  <dl>
                                    <div class="card-title">
                                      <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                    </div>
                                    <div class="card-text">
                                      <div class="text-truncate-2">
                                        <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                      </div>
                                    </div>
                                  </dl>
                                  <div class="card-text">
                                    Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                  </div>
                                  <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 d-flex flex-column" style="max-width: 640px;">
                <div id="carousel-of-all-blog-categories" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-inner">
                    {% assign categories = site.data['categories-on-blog'] %}
                    {% for category in categories %}
                      {% assign category_data_title = category.title %}
                      {% assign category_data_subtitle = category.subtitle %}
                      {% assign category_data_description = category.description %}
                      {% assign category_data_img = category.image %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="2000">
                        <div class="card-group">
                          <div class="card">
                            <div class="position-relative">
                              <div class="ratio ratio-3x1">
                                <img src="{{ site.siteurl }}{{category_data_img}}" class="object-fit-cover card-img-top" alt="{{ category_data_title | capitalize }} Image">
                              </div>

                              <style>
                                .carousel-control-prev-icon,
                                .carousel-control-next-icon {
                                  filter: invert(100%);
                                }

                                .carousel-control-prev,
                                .carousel-control-next {
                                  width: 5%;
                                }

                                .carousel-control-prev-icon,
                                .carousel-control-next-icon {
                                  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
                                  border-radius: 50%; /* Make it a circle */
                                  padding: 10px; /* Add some padding */
                                }

                                .carousel-control-prev:hover .carousel-control-prev-icon,
                                .carousel-control-next:hover .carousel-control-next-icon {
                                  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
                                }

                                .carousel-control-prev,
                                .carousel-control-next {
                                  outline: none;
                                }

                                .carousel-control-prev-icon:after,
                                .carousel-control-next-icon:after {
                                  content: '';
                                  display: block;
                                  width: 100%;
                                  height: 100%;
                                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
                                  border-radius: 50%; /* Ensure shadow follows the circle shape */
                                }
                              </style>

                              <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#carousel-of-all-blog-categories" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>

                              <button class="carousel-control-next position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-target="#carousel-of-all-blog-categories" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>

                            </div>

                            <div class="card-body pt-2 pb-2 p-4">
                              <h2 class="card-title"><a href="/category/{{ category.category }}">{{ category_data_title }}</a></h2>
                              <h3 class="text-muted card-subtitle h5 mb-2">{{ category_data_subtitle }}</h3>
                              <p class="card-text">{{ category_data_description }}</p>
                            </div>

                            <div class="card-footer p-0">
                              {% assign filtered_posts = site.posts | where_exp: "post", "post.categories contains category.category" | sort: "date" | reverse %}
                              {% for post in filtered_posts limit: 3 %}
                                <div class="container">
                                  <div class="row align-items-stretch">
                                    {% if post.image != nil and post.image != empty and post.image != "" %}
                                      {% assign image_alt = post.image-alt | default: post.image-description | default: post.title %}
                                      {% assign image_credits_title = post.image-credits-title | default: post.image-title | default: "Unknown" %}
                                      {% assign image_credits = post.image-credits-artist | default: post.image-artist | default: "Unknown" %}
                                      {% assign image_credits_artist_URL = post.image-credits-artist-URL | default: post.image-artist-URL %}
                                      {% assign image_URL = post.image %}
                                      <div class="card border-0 p-0 h-100 position-relative" style="max-width: 640px;">
                                        <div class="row g-0 h-100">
                                          <div class="col-md-4 h-100">
                                              <img src="{{ image_URL }}" class="img-fluid pt-3 object-fit-cover" alt="{{image_alt}} by {{image_credits}}">
                                          </div>
                                          <div class="col-md-8 d-flex align-items-center">
                                            <div class="card-body">
                                              <dl>
                                                <div class="card-title">
                                                  <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                                </div>
                                                <div class="card-text">
                                                  <div class="text-truncate-2">
                                                    <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                                  </div>
                                                </div>
                                              </dl>
                                              <div class="card-text">
                                                Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                              </div>
                                              <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% else %}
                                      <div class="card border-0 p-0 h-100 position-relative">
                                        <div class="row g-0 h-100">
                                          <div class="col-md-12 d-flex align-items-center">
                                            <div class="card-body">
                                              <dl>
                                                <div class="card-title">
                                                  <dt><h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4></dt>
                                                </div>
                                                <div class="card-text">
                                                  <div class="text-truncate-2">
                                                    <dd class="card-text">{{ post.teaser | default: post.description | default: post.excerpt | strip_html }}</dd>
                                                  </div>
                                                </div>
                                              </dl>
                                              <div class="card-text">
                                                Posted on <small class="text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></small>
                                              </div>
                                              <a href="{{ post.url | absolute_url }}" class="stretched-link"></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container py-1 py-xl-2">
      <section>
        <div class="container h-100 position-relative">
          <div class="row mb-2 mb-lg-2">
            <div class="col-md-12 col-xl-10 text-center mx-auto">
              <h2 id="career">Career</h2>
              <p class="w-lg-75">As a Senior Enterprise Architect at Southern California Edison, I leverage over a decade of experience in guiding major stakeholders through complex tech landscapes, with past entrepreneurial successes including founding a prominent J.R.R. Tolkien community website and features in Wired Magazine, driven by a passion for pioneering futuristic technologies.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container py-4 py-xl-5">
      <section>
        <div class="container h-100 position-relative" style="top: -75px;">
          <div class="row gy-5 gy-lg-0 row-cols-1">
            <div class="col">
              {% assign sorted_homepage = site.categories['Home'] | sort: 'order' %}
              {% assign count = 0 %}
              {% assign previous_tag = '' %}
              {% for post in sorted_homepage %}
                {% assign count = count | plus: 1 %}
                {% assign mod = count | modulo: 2 %}
                {% for tag in post.tags %}
                  {% if post.company != blank and post.company != null %}
                    {% assign watermark = post.company | append: "-watermark" %}
                  {% else %}
                    {% assign watermark = "no-watermark" %}
                  {% endif %}

                  {% if tag == 'Resume' %}
                    {% assign this-post-title = post.title | append: ", " | append: post.location.name | append: " from " | append: post.start-date | append: " to " | append: post.stop-date %}
                  {% else %}
                    {% assign this-post-title = post.title %}
                  {% endif %}
                  {% if previous_tag == 'Resume' and tag != 'Resume' %}
                    <!-- Output some new content here -->
                    <div class="container py-1 py-xl-2">
                      <section>
                        <div class="container h-100 position-relative">
                          <div class="row mb-2 mb-lg-2">
                            <div class="col-md-12 col-xl-10 text-center mx-auto">
                              <h2 id="projects">Projects</h2>
                              <p class="w-lg-75">From the comprehensive redesign of Southern California Edison's intranet and corporate websites to leading the innovative Edison SmartConnect project and creating unique digital applications like procedurally generated star constellations, I blend my expertise in web technologies and solution engineering to deliver projects that reshape our digital landscape.</p>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  {% endif %}
                  {% assign previous_tag = tag %}

                  <a name="{{ post.title | slugify}}" style="scroll-margin-top: 76px;"></a>
                  <div class="card mb-3">
                    <div class="row g-0 align-items-center">
                      {% if mod != 1 %}<!-- odd -->
                        <div class="col-md-4 d-flex align-items-center">
                          <img src="{{ site.siteurl }}/{{post.image}}" class="img-fluid rounded-start" alt="{{post.image-credits-title}} by {{post.image-credits-artist}}">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body align-items-center {{ watermark }}">
                            <h3 class="card-title">
                              {% if post.title-url and post.title-url != "" and post.title-url != nil %}
                                <a href="{{post.title-url}}" target="_blank" rel="noopener nofollow noreferrer">{{ this-post-title }}</a>
                              {% else %}
                                {{ this-post-title }}
                              {% endif %}
                            </h3>
                            <p class="card-text">{{ post.description}}</p>
                            <ul>    
                              {% for bullet in post.bullets %}
                                <li>{{ bullet }}</li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% else %}
                        <div class="col-md-8">
                          <div class="card-body align-items-center {{ watermark }}">
                            <h3 class="card-title">
                              {% if post.title-url and post.title-url != "" and post.title-url != nil %}
                                <a href="{{post.title-url}}" target="_blank" rel="noopener nofollow noreferrer">{{ this-post-title }}</a>
                              {% else %}
                                {{ this-post-title }}
                              {% endif %}
                            </h3>
                            <p class="card-text">{{ post.description}}</p>
                            <ul>    
                              {% for bullet in post.bullets %}
                                <li>{{ bullet }}</li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                          <img src="{{ site.siteurl }}/{{post.image}}" class="img-fluid rounded-start" alt="{{post.image-credits-title}} by {{post.image-credits-artist}}">
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    {% include js-bottom-of-body.html %}

  </body>
</html>