<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% include utility/calculate-variables.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth and WebMentions Metadata -->
    {% include seo/indieauth-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include seo/meta-data-seo.html %}

    <!-- PWA Header Includes -->
    {% include pwa/pwa-header-includes.html %}

    <!-- News Feed Meta Tags. -->
    {% include feeds/feeds.html %}

    <!-- START OF CSS INCLUDE -->

    {% include assets/all-css-includes.html %}


    <!-- Scripts that need to be at the end of the header -->
    {% include assets/scripts.html %}

  </head>

    <body>
    {%- comment -%} Removed skip link per user request. {%- endcomment -%}
    <!-- Legacy Browser Redirect & Google Tag Manager -->
    {% include layout/top-of-body.html %}

    {% include layout/top-nav-bar.html %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <main class="h-entry" role="main">
                    <!-- Hero Image (restored) -->
                                        {% comment %}Robust hero image handling (supports absolute/relative, fallback) {% endcomment %}
                                        {% assign image_URL = nil %}
                                        {% if page.image %}
                                            {% assign _img = page.image | strip %}
                                            {% if _img contains '://' %}
                                                {% assign image_URL = _img %}
                                            {% else %}
                                                {% assign image_URL = _img | absolute_url %}
                                            {% endif %}
                                            {% assign image_alt = page.image-alt | default: page.image-description | default: page.title %}
                                            {% assign image_credits_title = page.image-credits-title | default: page.image-title %}
                                            {% assign image_credits = page.image-credits-artist | default: page.image-artist | default: site.author.name %}
                                            {% assign image_credits_artist_URL = page.image-credits-artist-URL | default: page.image-artist-URL | default: site.author.url %}
                                        {% elsif site.featured-image %}
                                            {% assign _fimg = site.featured-image | strip %}
                                            {% if _fimg contains '://' %}
                                                {% assign image_URL = _fimg %}
                                            {% else %}
                                                {% assign image_URL = _fimg | absolute_url %}
                                            {% endif %}
                                            {% assign image_alt = page.title | default: site.title %}
                                            {% assign image_credits_title = site.title %}
                                            {% assign image_credits = site.author.name %}
                                            {% assign image_credits_artist_URL = site.author.url %}
                                        {% else %}
                                            {% assign image_URL = '/img/No-Image-Provided.png' | absolute_url %}
                                            {% assign image_alt = page.title | default: 'No image provided' %}
                                            {% assign image_credits_title = 'No Image Provided' %}
                                            {% assign image_credits = site.author.name %}
                                            {% assign image_credits_artist_URL = site.author.url %}
                                        {% endif %}
                                        <figure class="mb-3 position-relative">
                                            <img class="img-fluid w-100" src="{{ image_URL }}" alt="{{ image_alt | escape }}" loading="eager">
                                            <figcaption class="small text-muted mt-1">
                                                {% if image_credits_title %}<cite>{{ image_credits_title }}</cite>{% if image_credits %}: {% endif %}{% endif %}
                                                {% if image_credits %}{% if image_credits_artist_URL %}<a target="_new" href="{{ image_credits_artist_URL }}">{{ image_credits }}</a>{% else %}{{ image_credits }}{% endif %}{% endif %}
                                            </figcaption>
                                        </figure>
                    <!-- Title -->
                                        {% assign __primary_category = page.categories | first %}
                                        {% if __primary_category %}
                                            {% capture __slug %}{% include utility/map-category-to-registry.html key=__primary_category %}{% endcapture %}
                                            {% assign __slug = __slug | strip %}
                                            {% if __slug == '' %}{% assign __slug = __primary_category | slugify %}{% endif %}
                                            {% assign __entry = site.data.category_registry[__slug] %}
                                        {% endif %}
                                        {% if __entry %}
                                            {% include utility/category-palette-apply.html entry=__entry title=page.title title_tag='h1' title_class='p-name post-title' wrapper_class='mccgw-hero' %}
                                        {% else %}
                                            <h1 class="p-name">{{ page.title }}</h1>
                                        {% endif %}
                    <!-- Author TODO: Fix this to be dynamic for more than one author. -->
                    {% if page.author.name %}
                        <p class="lead">by <a rel="author" class="p-author h-card" href="{{ page.author.url }}"><img src="{{page.author.avatar}}" class="u-photo" loading="lazy" alt="{{ page.author.name | escape }} avatar">{{page.author.name}}</a></p>
                    {% else %}
                        <p class="lead">by <a rel="author" class="p-author h-card" href="{{ site.author.url }}"><img src="{{site.author.avatar}}" class="u-photo" loading="lazy" alt="{{ site.author.name | escape }} avatar">{{site.author.name}}</a></p>
                    {% endif %}

                    <hr>
                    
                    {% include content/publish-and-update-date-time-v2.html %}

                    <i class="fa-regular fa-comments" aria-hidden="true"></i>&nbsp;<a href="{{ page.url }}#disqus_thread">&nbsp;Comments</a></br>

                    <img class="webmention-svg" height="1em" src="{{ site.url }}/img/webmention-logo.svg" alt="Webmention logo">&nbsp;<a href="{{ page.url }}#webmention_thread">&nbsp;Webmentions</a></br>

                    <i class="fa-solid fa-table-cells-large" aria-hidden="true"></i>&nbsp;Categories:
                    {% assign categories = page.categories %}
                    {% for category in categories %}<span class="p-category">
                        {% capture thiscategory %}{{ category | strip }}{% endcapture %}
                        {% if forloop.length == 1 %}
                            {{thiscategory}}
                        {% elsif forloop.last and forloop.length == 2 %}
                            and {{thiscategory}}
                        {% elsif forloop.last %}
                            and {{thiscategory}}
                        {% else %}
                            {{thiscategory}}, 
                        {% endif %}
                        {# removed legacy draft category handling #}



                    <!-- Post Content -->
                    <div id="toc"></div>  
                    <span class="e-content">{{ content }}</span>

                    <hr>
                </main>

                <!--Next and Previous Articles -->
                {% include content/next-and-previous.html %}

                <hr>
                {% if page.mastodon-post-id and page.mastodon-post-id != '' %}
                    {% include social/comments-mastodon-tree.html %}
                {% endif %}

                {% include social/comments-webmentions.html %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    {% include utility/google-search.html %}
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="post-categories">
                        {% assign categories = page.categories %}
                        {% for category in categories %}
                            {% capture __slug %}{% include utility/map-category-to-registry.html key=category %}{% endcapture %}
                            {% assign __slug = __slug | strip %}
                            {% if __slug == '' %}{% assign __slug = category | slugify %}{% endif %}
                            {% assign __entry = site.data.category_registry[__slug] %}
                                                        {% if __entry and __entry.category_home_page %}
                                                            {% assign __href = __entry.category_home_page %}
                                                        {% else %}
                                                            {% assign __href = '/category/' | append: __slug | append: '/' %}
                                                        {% endif %}
                            <h4>Latest in <a href="{{ site.url }}{{ __href }}">{{category}}</a></h4>
                                <div class="row">
                                <div class="col-lg-12">
                                    <ul class="list-unstyled">{%- for post in site.categories[category] limit:5 -%}
                                        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{%- endfor -%}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->



  <!-- Footer -->
  {% include layout/footer.html %}

  <!-- Bootstrap core JavaScript -->
  {% include assets/js-bottom-of-body.html %}

  </body>

</html>
