<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">

    {% include calculate-variables.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth and WebMentions Metadata -->
    {% include indieauth-and-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}

    <!-- PWA Header Includes -->
    {% include pwa-header-includes.html %}

    <!-- News Feed Meta Tags. -->
    {% include feeds.html %}

    <!-- START OF CSS INCLUDE -->

    {% include all-css-includes.html %}

    <!-- END OF CSS INCLUDE -->

    <!-- Scripts that need to be at the end of the header -->
    {% include scripts.html %}
  </head>

  <body>
    <!-- Legacy Browser Redirect & Google Tag Manager -->
    {% include top-of-body.html %}

    {% include top-nav-bar.html %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <article class="h-entry">
                    <!-- Title -->
                    <!-- First get the first 7 words of the Content -->

                    {% assign plainText = page.content | strip_html | strip_newlines %}
                    {% assign stringWithoutCommas = plainText | replace: ',', '' %}
                    {% assign wordstoconvert = stringWithoutCommas | split: ' ' %}
                    {% assign first_7_words = wordstoconvert | slice: 0, 7 %}

                    <!-- Calculate Title Case per NYT -->

                    {% assign lowercaseWords = "a,an,the,and,but,or,nor,for,so,yet,at,by,in,of,on,to,up,about,across,after,along,amid,around,as,before,behind,below,beside,between,beyond,during,except,from,inside,into,like,near,off,on,onto,out,outside,over,past,through,throughout,till,toward,under,underneath,until,unto,upon,with,within,without" | split: ',' %}

                    {% assign words = first_7_words | downcase | split: ' ' %}
                    {% assign WordsInTitle = first_7_words | downcase | split: ' ' %}

                    
                    {% for word in words %}
                        {% assign titleCaseWord = word | capitalize %}

                        {% if lowercaseWords contains word %}
                            {% assign titleCaseWord = word %}
                        {% endif %}

                        {% if forloop.first == true %}
                            {% assign titleCaseWord = word | capitalize %}
                        {% endif %}

                        {% if forloop.last == true %}
                            {% assign titleCaseWord = word | capitalize %}
                        {% endif %}

                        {% assign WordsInTitle[forloop.index0] = titleCaseWord %}
                    {% endfor %}

                    {% assign titleCaseString = WordsInTitle | join: ' ' %}


                    <hr>
                    {% include publish-and-update-date-time-v2.html %}
                    <i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Catagories:
                    {% assign categories = page.categories %}
                    {% for category in categories %}<span class="p-category">
                        {% capture thiscategory %}{{ category | strip }}{% endcapture %}
                        {% if forloop.length == 1 %}
                            {{thiscategory}}
                        {% elsif forloop.last and forloop.length == 2 %}
                            and {{thiscategory}}
                        {% elsif forloop.last %}
                            and {{thiscategory}}
                        {% else %}
                            {{thiscategory}}, 
                        {% endif %}
                        {% if thiscategory == "draft" or thiscategory == "Draft" %}
                            {% assign this_is_a_draft = true %}
                        {% endif %}</span>
                    {% endfor %}</br>
                    <hr>

                    {% if page.source-url %}
                        <h1 class="p-name"><a href="{{page.source-url}}" target="_new">{{ page.source }}</a>&NonBreakingSpace;<a href="{{page.source-url}}" target="_new"><i class="fa fa-external-link" aria-hidden="true"></i></a></h1>
                    {% elsif page.source %}
                        <h1 class="p-name">{{ page.source }}</h1>
                    {% else %}
                        <h1 class="p-name">Source: Unknown</h1>
                    {% endif %}

                    <h3><u>{{ page.author }}</u></h3> 

                    {% if page.image %}
                    <figure>
                    <img class="img-responsive img-thumbnail" src="{{ site.siteurl }}{{ page.image }}" alt="{{page.image-alt}} by {{page.image_credits}}">
                      <figcaption>
                        {% if page.image-credits-URL or page.image-credits-title %}
                            <a target="_new" href="{{page.image-credits-URL}}">"{{page.image-credits-title}}" by {{page.image-credits-artist}}</a>
                        {% elsif page.image-credits %}
                          {{page.image-alt}} by {{page.image_credits}}
                        {% else %}
                            Unknown
                        {% endif %}
                      </figcaption>
                    </figure>
                    <hr>
                    {% endif %}


                    <!-- Post Content -->
                    <span class="e-content">
   
                        <!-- Post Content -->

                        <div id="toc"></div>    
                        <span class="e-content" id="main_content">{{ page.content }}</span>
    

                    <hr>
                </article>

                <!--Next and Previous Articles -->
                {% include next_and_previous.html %}

                <hr>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="post-categories">
                        {% assign categories = page.categories %}
                        {% for category in categories %}
                            <h4>Latest in <a href="{{ site.siteurl }}/category/{{category|slugize}}">{{category}}</a></h4>
                                <div class="row">
                                <div class="col-lg-12">
                                    <ul lass="list-unstyled">
                                        {% for post in site.categories[category] limit:5 %}
                                        <li><a href="{{ site.siteurl }}{{ post.url }}">{{ post.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->



  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  {% include js-bottom-of-body.html %}

  </body>

</html>
