<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    
    <meta charset="utf-8">

    {% include calculate-variables.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth and WebMentions Metadata -->
    {% include indieauth-and-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}

    <!-- PWA Header Includes -->
    {% include pwa-header-includes.html %}

    <!-- News Feed Meta Tags. -->
    {% include feeds.html %}

    <!-- START OF CSS INCLUDE -->

    {% include all-css-includes.html %}

    <!-- Mastodon Stuff-->
    <link rel="stylesheet" href="{{site.siteurl}}/mastodon/mastodon-timeline.css">
    <script src='{{site.siteurl}}/mastodon/mastodon-timeline.js'></script>


    <style>
      .Dohring-watermark, .TORC-watermark, .SCE-watermark {
        position: relative;
        z-index: 1;
      }

      .Dohring-watermark::before, .TORC-watermark::before, .SCE-watermark::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
        z-index: -1;
      }

      .Dohring-watermark::before {
          background: url({{site.siteurl}}/img/home/logo-Dohring.png) no-repeat center center;
          background-size: 50% ; /* or contain */
      }

      .TORC-watermark::before {
          background: url({{site.siteurl}}/img/home/logo-TORC.png) no-repeat center center;
          background-size: contain ; /* or contain */
      }

      .SCE-watermark::before {
          background: url({{site.siteurl}}/img/home/logo-SCE.png) no-repeat center center;
          background-size: 50% ; /* or contain */
      }
    </style>

    <!-- END OF CSS INCLUDE -->

    <!-- Scripts that need to be at the end of the header -->
    {% include scripts.html %}
  </head>
  <body>
    <!-- Legacy Browser Redirect & Google Tag Manager -->
    {% include top-of-body.html %}

    {% include top-nav-bar.html %}

    <!-- Page Content -->

    <!-- Masthead -->
    <section class="showcase">

      <div class="no-gutters w-100 container-fluid">
        <div class="container-fluid text-white align-middle w-100 showcase-img p-0">
          <img src="/img/categories/home.png" class="img-fluid w-100 img-thumbnail" style="margin-top: 4.35rem;" alt="Image of someone sitting by a lake">
        </div>
      </div>

      <div class="container-fluid p-0">
        <a name="blog"></a>
        <div class="row no-gutters">
          <div class="col-lg-8 order-lg-1 my-auto showcase-text align-middle">
            <h2>Blog</h2>
            <p class="lead mb-0">This blog is my journey exploring the intersection of technology, theology, and creativity, where readers engage in discussions about religion in the digital age, trends in UI/UX, collaboration tools, and storytelling, all viewed through a unique, humorous, and contemplative lens.</p>
            <ul>
                
                {%comment}
                {% assign thirtyDaysAgo = site.time | minus: 2592000 %}
                {% assign recentPosts = site.posts | where: "date", ">", thirtyDaysAgo %}
                {%endcomment}

                {% assign allPosts = site.posts | concat site.micropubpost %}
                {% assign threeMonthsAgo = site.time | minus: 7776000 %}
                {% assign recentPosts = allPosts | where_exp: "post", "post.date > threeMonthsAgo" %}

                {% for post in allPosts %}
                    {% if post.categories contains "Bestiary" or post.category == "Bestiary" %}
                        <!-- Do Nothing -->
                    {% elsif post.categories contains "Quotes" or post.category == "Quotes" or post.layout contains "quotes" %}
                        <!-- Do Nothing -->
                    {% elsif post.categories contains "Home" or post.category == "Home" %}
                        <!-- Do Nothing -->
                    {% endif %}
                      <li style="list-style: none;">

                        {% if post.title %}
                            <h4><a href="{{ post.url }}">{{ post.title }}</a> - {% for category in post.categories %}<a style="text-decoration: none;" href="category/{{ category }}">{% include category-emoji.html category=category %}</a>{% endfor %}</h4>
                        {% endif %}
                        {% if post.teaser %}
                          <p>{{ post.teaser }}</p>
                        {% elsif post.description %}
                          <p>{{ post.description  }}</p>
                        {% else %}
                          <p>{{ post.excerpt |truncate html | truncatewords: 20}}</p>
                        {% endif %}
                        <p>{{post.content}}</p>
                    </li>
                {% endfor %}
            </ul> 
          </div>
        </div>
      </div>
    </section>

    <header class="masthead text-white text-center" id="about">
      <div class="overlay"></div>
      <div class="container">
        <div class="row vcard h-card" id="hcard-{{ site.givenname }}-{{ site.familyname }}">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 fnp-name"><span class="p-given-name">{{ site.givenname }}</span> <span class="p-family-name">{{ site.familyname }}</span></h1>
            <img src="https://secure.gravatar.com/avatar/a76b4d6291cecb3a738896a971bfb903?s=256&d=mp&r=g" class="intro-image-avatar photo u-photo" alt="Photo of {{ site.givenname }} {{ site.familyname }}" >
            <h2><span class="p-job-title">Enterprise Architect</h2>
            <hr>
            <span class="p-adr d-none">
                <span class="p-locality">{{ site.locality }}</span>,
                <span class="p-region">{{ site.region }}</span>
                <span class="p-country-name">{{ site.country }}</span>
            </span>
            <span class="p-note">
              {% for paragraphs in site.biography %}
                {% capture paragraph %}{{ paragraphs | strip }}{% endcapture %}
                <p class="lead">{{paragraph}}</p>
              {% endfor %}
            </span>
          </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  {% include js-bottom-of-body.html %}
  </body>
</html>